@import "reset.scss";
@import "common.scss";
.news_wrap{
	width: 1180px;
	margin: 0 auto 60px;
	@extend %clearfix;
}
.news_main{
	width: 810px;
	@extend %fl;
	margin-right: 30px;
}
.news_aside{
   width: 340px;
	@extend %fl;
	padding-top: 30px;
}
.news_aside.pt20{
	padding-top: 20px;
}
.news_aside.pt0{
	padding-top: 0;
}
.newsmain_top{
	width: 810px;
	padding: 30px 0 20px;
	border-bottom: 1px solid #e5e5e5;
	@extend %clearfix;
}
.newsmain_top_lf{
  width: 538px;
	height: 360px;
	@extend %fl;
	margin-right: 12px;
	position: relative;
	overflow: hidden;
	p{
		display: block;
		width: 100%;
		height: 36px;
		line-height: 36px;
		background: rgba(0,0,0,0.5);
		font-size: 16px;
		color: #fff;
		font-weight: bold;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 10px;
	}
	img{
		width: 538px;
		height: 360px;
		@extend %transition02;
	}
	a:hover img{
		@extend %scale11;
	}
}
.newsmain_top_rh{
   width: 260px;
	@extend %fl;
	.newsmain_top_rh_item{
		width: 260px;
		height: 174px;
		overflow: hidden;
		position: relative;
		p{
			display: block;
			width: 100%;
			height: 36px;
			line-height: 36px;
			background: rgba(0,0,0,0.5);
			font-size: 16px;
			color: #fff;
			font-weight: bold;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 10px;
		}
		img{
			width: 260px;
			height: 174px;
			@extend %transition02;
		}
		a:hover img{
			@extend %scale11;
		}
	}
	.newsmain_top_rh_item.mb12{
		margin-bottom: 12px;
	}
}
.news_item{
	width: 810px;
	@extend %clearfix;
    padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
	dt{
		width: 208px;
		height: 140px;
		@extend %fl;
		margin-right: 20px;
		overflow: hidden;
		img{
			width: 208px;
			height: 140px;
			@extend %transition02;
		}
		a:hover img{
			@extend %scale11;
		}
	}
	dd{
       width: 582px;
		@extend %fl;
		h5{
			width: 100%;
			font-size: 20px;
			color: #333;
			font-weight: bold;
			margin-bottom: 10px;
			line-height: 1.3;
		}
		a:hover h5{
			color: #db2b22;
		}
		p.news_intro{
			width: 100%;
			font-size: 14px;
			color: #666;
			line-height: 22px;
			margin-bottom: 15px;
		}
	}
}
.news_item:last-of-type{
	border-bottom: 0;
}
.news_ope{
	@include justify(582px);
	.news_ope_lf,.news_ope_rh{
		@include inlineblock();
	}
}
.news_ope_lf{
  span{
	  @include inlineblock();
	  font-size: 14px;
	  color: #999;
	  &:after{
		  @include inlineblock();
		  content: "";
		  width: 1px;
		  height: 15px;
		  background: #999;
		  margin: 0 13px;
	  }
	  a{ color: #999;}
	  a:hover{
		  color: #db2b22;
	  }
  }
	span:last-of-type:after{
		display: none;
		width: 20px;
		height: 14px;
		background: url("../images/icon-sprite01.png");
	}
}
.news_ope_rh{
	span{
		@include inlineblock();
		font-size: 14px;
		color: #666;
		margin-left: 20px;
		&:before{
			@include inlineblock();
			content: "";
			width: 18px;
			height: 18px;
			background: url("../images/icon-sprite01.png") no-repeat;
			margin-top: -2px;
			margin-right: 8px;
		}
	}
	span.see:before{
		background-position: -84px -2px;
	}
	span.zan:before{
		background-position: -115px -2px;
	}
}
.news_item02{
	dd{
	width:810px;
	 .news_ope{
	   width:810px;
	 }
	}
}
.seemore_btm{
	@include btn01(200px,48px,#fff,18px);
	color: #db2b22;
	display: block;
	margin: 30px auto 0;
	border:1px solid #e5e5e5;
	line-height: 46px;
	&:hover{
		opacity: 0.8;
	}
}
.news_aside_label{
	width: 100%;
	padding-left: 20px;
	position: relative;
	font-size: 18px;
	color: #333;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	&:before{
		display: block;
		content: "";
		width: 3px;
		height: 18px;
		background: #db2b22;
		position: absolute;
		left: 0;
		top: 0;
	}
}
.news_aside_con{
	width: 100%;
	padding-left: 20px;
	font-size: 0;
	margin-bottom: 30px;
}
.channel_item{
	@include btn02(40px,30px,#fff,16px);
    color: #666;
	line-height: 38px;
	border: 1px solid #e5e5e5;
	@extend %transition;
	margin-right: 10px;
	margin-bottom: 10px;
	&:hover{
		background: #db2b22;
		color: #fff;
		border: 1px solid #db2b22;
	}
}
.hotlabel_item{
	@include btn02(40px,30px,#fff,16px);
	color: #666;
	line-height: 38px;
	border: 1px solid #e5e5e5;
	@extend %transition;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	&:hover{
		background: #db2b22;
		color: #fff;
		border: 1px solid #db2b22;
	}
}
.hot_article_item{
	width: 340px;
	@extend %clearfix;
	padding-left: 20px;
	margin-bottom: 20px;
	dt{
        width: 120px;
		height: 80px;
		overflow: hidden;
		@extend %fl;
		margin-right: 10px;
		img{
			width: 120px;
			height: 80px;
			@extend %transition02
		}
		a:hover img{
			@extend %scale11;
		}
	}
	dd{
		width:190px;
		@extend %fl;
		.title{
            width: 100%;
			font-size: 14px;
			color: #333;
			line-height: 20px;
			margin-bottom: 10px;
		}
		a:hover .title{
			color: #db2b22;
		}
		.time{
			width: 100%;
			font-size: 12px;
			color: #999;
			line-height: 18px;
		}
	}
}

.newdetial_tit{
	width: 100%;
	font-size: 28px;
	color: #333;
	font-weight: bold;
	line-height: 1.5;
	margin-top: -10px;
	margin-bottom: 35px;
}
.newdetial_subtit{
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 35px;
	font-size: 0;
	span{
        @include inlineblock();
		font-size: 14px;
		color: #999;
		a{
			font-size: 14px;
			color: #999;
			&:hover{
				 color: #db2b22;
			}
		}
		&:after{
			@include inlineblock();
			content: "";
			width: 1px;
			height: 15px;
			background: #999;
			margin: 0 14px;
			margin-top: -2px;
		}
	}
	span:last-of-type:after{
		display: none;
	}
}
.newdetial_con{
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	p{
		width: 100%;
		text-align: left;
		font-size: 18px;
		color: #333;
		line-height: 32px;
		margin-bottom: 30px;
		img{
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
}
.detail_label{
	width: 100%;
	font-size: 16px;
	color: #333;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 15px;
	em{
		color: #db2b22;
		margin: 0 5px;
		font-weight: bold;
	}
}
.detail_zan{
	display: block;
	width: 120px;
	height: 48px;
	text-align: center;
	border: 1px solid #e5e5e5;
	line-height: 46px;
	font-size: 18px;
	color: #d6463d;
	margin: 0 auto;
	&:before{
		@include inlineblock();
		content: "";
		width: 24px;
		height: 24px;
		background: url("../images/icon-sprite01.png") no-repeat -330px -16px;
		margin-right: 10px;
		margin-top: -4px;
	}
	&:hover{
		opacity: 0.8;
	}
}
.newdetail_label{
	width: 100%;
	padding: 20px 0 30px;
	font-size: 0;
	a{
		@include inlineblock();
		height: 32px;
		line-height: 30px;
		border: 1px solid #e5e5e5;
		padding: 0 20px;
		border-radius: 20px;
		font-size: 14px;
		color: #666;
		margin-right: 10px;
		@extend %transition;
		&:hover{
			background: #db2b22;
			color: #fff;
			border: 1px solid #db2b22;
		}
	}
}
.newdetail_states{
	@include justify(810px);
	.newdetail_states_lf,.newdetail_states_rh{
		@include inlineblock();
	}
}
.newdetail_states_lf{
	font-size: 0;
	span{
		@include inlineblock();
		font-size: 14px;
		color: #666;
		margin-right: 20px;
		&:before{
			@include inlineblock();
			content: "";
			width: 20px;
			height: 18px;
			background: url("../images/icon-sprite01.png") no-repeat;
			margin-right: 8px;
		}
	}
	span.see:before{
		background-position:-84px -2px;
	}
	span.zan{
		margin-top: -4px;
	}
	span.zan:before{
		background-position: -114px -2px;
	}
	span.commend:before{
		background-position: -282px -27px;
	}
}
.newdetail_states_rh{
	font-size: 0;
	.share_label,.bdsharebuttonbox,.totop_wrap{
		@include inlineblock();
	}
	.share_label{
      font-size: 14px;
		color: #666;
	}
	.bdsharebuttonbox{
		margin: 0 15px;
	}
	.totop_wrap{
	&:before{
		@include inlineblock();
		content: "";
		width: 1px;
		height: 32px;
		background: #e5e5e5;
		margin-right: 20px;
	}
}
	.totop_btn{
		width: 32px;
		height: 32px;
		background:#999999;
		text-align: center;
		@include inlineblock();
		&:before{
			@include inlineblock();
			content: "";
			width: 20px;
			height: 16px;
			background:url("../images/icon-sprite01.png") no-repeat -305px -27px;
			margin-top: 8px;
		}
		&:hover{
			opacity: 0.8;
		}
	}
}



.commend_per{
	width: 100%;
	padding-bottom: 18px;

	.commend_per_pic,.commend_per_name,.commend_per_time{
		@include inlineblock();
	}
	.commend_per_pic{
		img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			@include inlineblock(top);
		}
	}
	.commend_per_name{
		font-size: 14px;
		color: #333;
		margin: 0 14px;
		&:hover{
			color: #db2b22;
		}
	}
	.commend_per_time{
		font-size: 14px;
		color: #999;
	}

}
.edite_commit{
	width: 100%;
	height: 100px;
	border: 1px solid #e5e5e5;
	padding: 5px 10px;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	resize: none;
}
.commit_submit{
	width: 100%;
	text-align: right;
	padding-top: 10px;
	a{
		@include btn01(120px,40px,#db2b22,16px);
		&:hover{
			opacity: 0.8;
		}
	}
}
.nolg_commit_submit{
	width: 100%;
	text-align: right;
	padding-top: 10px;
	a{
		@include btn01(120px,40px,#ccc,16px);
		cursor: not-allowed;
	}
}
.commend_lb{
	width: 810px;
	.commend_item{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}
}
span.renzheng{
	@include inlineblock();
	height: 18px;
	line-height: 18px;
	padding: 0 8px;
	border-radius: 8px;
	background: #fec006;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}
.commend_wz{
	width: 100%;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.commend_ope{
	@include justify(810px);
	margin-top: 20px;
	.commend_link,.zan_link{
		@include inlineblock();
		font-size: 14px;
		&:before{
			@include inlineblock();
			content: "";
			width: 18px;
			height: 19px;
			background: url("../images/icon-sprite01.png") no-repeat;
			margin-right: 10px;
			margin-top: -4px;
		}
		&:hover{
			color: #db2b22;
		}
	}
	.commend_link{
		color: #999;
		&:before{
			background-position: -537px -2px;
		}
		&:hover:before{
			background-position: -560px -2px;
		}
	}
	.zan_link {
		color: #666;
		&:before {
			background-position: -584px -2px;
		}
		&:hover:before{
			background-position: -607px -2px;
		}
	}
}
.commit_area{
	width: 810px;
	text-align: right;
	padding-top: 10px;
	display: none;
}
.commend_ope{
	@include justify(810px);
	margin-top: 20px;
	.commend_link,.zan_link{
		@include inlineblock();
		font-size: 14px;
		&:before{
			@include inlineblock();
			content: "";
			width: 18px;
			height: 19px;
			background: url("../images/icon-sprite01.png") no-repeat;
			margin-right: 10px;
			margin-top: -4px;
		}
		&:hover{
			color: #db2b22;
		}
	}
	.commend_link{
		color: #999;
		&:before{
			background-position: -537px -2px;
		}
		&:hover:before{
			background-position: -560px -2px;
		}
	}
	.zan_link {
		color: #666;
		&:before {
			background-position: -584px -2px;
		}
		&:hover:before{
			background-position: -607px -2px;
		}
	}
}
.commit_area{
	width: 810px;
	text-align: right;
	padding-top: 10px;
	display: none;
}
.commeded_lb{
	width: 810px;
	position: relative;
	margin-top: 20px;
	.point{
		display: block;
		width: 0;
		height: 0;
		border-width: 6px 12px 12px 12px;
		border-style: dashed dashed solid dashed;
		border-color:transparent transparent  #f4f4f4 transparent;
		position: absolute;
		left: 26px;
		top: -18px;
	}
	.commeded_con{
		width: 810px;
		background: #f4f4f4;
		padding: 0 15px 0 20px;
	}
}
.commeded_label{
	@include justify(775px);
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	h5,span{
		@include inlineblock();
		font-size: 16px;
		line-height: normal;
	}
	h5{
		color: #333;
		font-weight: normal;
	}
	span{
		color: #999;
		cursor: pointer;
		&:hover{
			color: #db2b22;
		}
	}
}
.commeded_pers{
	width: 775px;
	position: relative;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 60px;
	@extend %clearfix;
	.commeded_pers_item{
		width: 40px;
		height: 40px;
		float: left;
		margin-bottom: 15px;
		margin-right: 20px;
		overflow: hidden;
		img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
	.commeded_pers_item:first-of-type{
		position: absolute;
		left: 17px;
		top: -8px;
	}
}
.commeded_item{
	width: 775px;
	@extend %clearfix;
	padding-top: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	display: none;
	dt{
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 14px;
		img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
	dd{
		width: 721px;
		float: left;
	}
	.commeded_info{
		width: 721px;
		font-size: 0;
		.maincommend_per,.maincommend_info,.maincommend_time{
			@include inlineblock(top);
		}
		.maincommend_per{
			font-size: 14px;
			color: #999;
			max-width: 100px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.maincommend_info{
			max-width: 535px;
			font-size: 14px;
			color: #333;
			line-height: 22px;
			padding-right: 30px;
			padding-left: 5px;
			a{
				font-size: 14px;
				color: #333;
				margin: 0 10px;
			}
		}
		.maincommend_time{
			width: 86px;
			font-size: 14px;
			color: #999;
		}
	}
}
.commeded_item:last-of-type{
	border-bottom: 0;
}
.commend_replay_btn{
	width: 100%;
	padding-top: 25px;
	a{
		font-size: 14px;
		color: #999;
		&:hover{
			color: #db2b22;
		}
	}
}
.commend_replay_area{
	padding-top: 15px;
	display: none;
}
.btm_shouqi{
	width: 810px;
	margin-left: -20px;
	height: 48px;
	background: #e5e5e5;
	line-height: 48px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	color: #999;
	display: none;
}
.loadmore_commend_btn{
	@include btn01(200px,48px,#e5e5e5,18px);
	display: block;
	color: #999;
	margin: 20px auto;
	&:hover{
		opacity: 0.8;
	}
}
.needlg-area{
	width: 810px;
	height: 168px;
	background: #f4f4f4;
	border: 1px solid #e5e5e5;
	display: table-cell;
	vertical-align: middle;
	p{
		width: 100%;
		text-align: center;
		font-size: 16px;
		color: #999;
		a{
			color: #db2b22;
			&:hover{
				opacity: 0.8;
			}
		}
	}
}