<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/about.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="about_wrap">
      <div class="aboutaside">
	      <a href="#" class="active">关于我们<span></span></a>
	      <a href="#">联系我们<span></span></a>
	      <a href="#">服务协议<span></span></a>
	      <a href="#">隐私条款<span></span></a>
      </div>
	    <div class="aboutmain" style="display: block">
		    <h2>关于我们</h2>
		    <p><em>科乐得(武汉)技术股份有限公司</em>旗下的打印派是国内第一家3D打印设计创意、3D打印个性产品交流交易社区，在这里，设计师、3D打印机器设备拥有者或企业、3D打印耗材企业、3D打印工作室都可以找到自己的价值.
			    我们利用3D打印技术为设计师定制他们设计的各种产品，包括艺术品、首饰、iPhone手机壳、小饰品、玩具、杯子，同时整合3D打印设备企业将设计师的创意变成产品、并提供了销售其创意产品的网络平台。</p>
	      <p><em>设计师和3D打印工作室</em>：可以将自己的创意变成数字3D模型，提供数字3D模型设计服务。在打印派免费上传模型、设定创意销售价格，当用户购买您的创意，打印派系统会自动将这笔付款打入您的账号！</p>
	      <p><em>3D打印机器设备拥有者或企业</em>：可以为设计师或用户提供3D打印服务，同时也可以将成熟的创意的3D打印产品寄放在平台销售。</p>
	      <p>打印派作为一个分享型3D打印平台，我们希望所有的用户能够在玩的过程中学习，在分享中受益。作为一个新生的网站，我们知道平台还有很多不够完善的地方，但是我们希望平台与用户共同进步。</p>
	    </div>
	    <div class="aboutmain">
		    <h2>联系我们</h2>
		    <p><em>科乐得(武汉)技术股份有限公司</em>旗下的打印派是国内第一家3D打印设计创意、3D打印个性产品交流交易社区，在这里，设计师、3D打印机器设备拥有者或企业、3D打印耗材企业、3D打印工作室都可以找到自己的价值.
			    我们利用3D打印技术为设计师定制他们设计的各种产品，包括艺术品、首饰、iPhone手机壳、小饰品、玩具、杯子，同时整合3D打印设备企业将设计师的创意变成产品、并提供了销售其创意产品的网络平台。</p>
		    <p><em>设计师和3D打印工作室</em>：可以将自己的创意变成数字3D模型，提供数字3D模型设计服务。在打印派免费上传模型、设定创意销售价格，当用户购买您的创意，打印派系统会自动将这笔付款打入您的账号！</p>
		    <p><em>3D打印机器设备拥有者或企业</em>：可以为设计师或用户提供3D打印服务，同时也可以将成熟的创意的3D打印产品寄放在平台销售。</p>
		    <p>打印派作为一个分享型3D打印平台，我们希望所有的用户能够在玩的过程中学习，在分享中受益。作为一个新生的网站，我们知道平台还有很多不够完善的地方，但是我们希望平台与用户共同进步。</p>
	    </div>
	    <div class="aboutmain">
		    <h2>服务协议</h2>
		    <p><em>科乐得(武汉)技术股份有限公司</em>旗下的打印派是国内第一家3D打印设计创意、3D打印个性产品交流交易社区，在这里，设计师、3D打印机器设备拥有者或企业、3D打印耗材企业、3D打印工作室都可以找到自己的价值.
			    我们利用3D打印技术为设计师定制他们设计的各种产品，包括艺术品、首饰、iPhone手机壳、小饰品、玩具、杯子，同时整合3D打印设备企业将设计师的创意变成产品、并提供了销售其创意产品的网络平台。</p>
		    <p><em>设计师和3D打印工作室</em>：可以将自己的创意变成数字3D模型，提供数字3D模型设计服务。在打印派免费上传模型、设定创意销售价格，当用户购买您的创意，打印派系统会自动将这笔付款打入您的账号！</p>
		    <p><em>3D打印机器设备拥有者或企业</em>：可以为设计师或用户提供3D打印服务，同时也可以将成熟的创意的3D打印产品寄放在平台销售。</p>
		    <p>打印派作为一个分享型3D打印平台，我们希望所有的用户能够在玩的过程中学习，在分享中受益。作为一个新生的网站，我们知道平台还有很多不够完善的地方，但是我们希望平台与用户共同进步。</p>
	    </div>
	    <div class="aboutmain">
		    <h2>隐私条款</h2>
		    <p><em>科乐得(武汉)技术股份有限公司</em>旗下的打印派是国内第一家3D打印设计创意、3D打印个性产品交流交易社区，在这里，设计师、3D打印机器设备拥有者或企业、3D打印耗材企业、3D打印工作室都可以找到自己的价值.
			    我们利用3D打印技术为设计师定制他们设计的各种产品，包括艺术品、首饰、iPhone手机壳、小饰品、玩具、杯子，同时整合3D打印设备企业将设计师的创意变成产品、并提供了销售其创意产品的网络平台。</p>
		    <p><em>设计师和3D打印工作室</em>：可以将自己的创意变成数字3D模型，提供数字3D模型设计服务。在打印派免费上传模型、设定创意销售价格，当用户购买您的创意，打印派系统会自动将这笔付款打入您的账号！</p>
		    <p><em>3D打印机器设备拥有者或企业</em>：可以为设计师或用户提供3D打印服务，同时也可以将成熟的创意的3D打印产品寄放在平台销售。</p>
		    <p>打印派作为一个分享型3D打印平台，我们希望所有的用户能够在玩的过程中学习，在分享中受益。作为一个新生的网站，我们知道平台还有很多不够完善的地方，但是我们希望平台与用户共同进步。</p>
	    </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/about"></script>
</body>
</html>