<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/mx-list.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="mxlist_wrap">
      <ul class="bread">
	      <li><a href="/" class="home_icon"></a></li>
	      <li class="last_nav">专辑分类</li>
      </ul>
      <ul class="topmenu_list">
	      <li class="topmenu_list_item">
		      <span class="topmenu_list_label">热门搜索：</span>
		      <div class="topmenu_list_con">
			      <a href="javascript:;">全部</a>
			      <a href="#" class="active">卡通人物</a>
			      <a href="#">写实人物</a>
			      <a href="#">场景模型</a>
			      <a href="#">动物资源</a>
			      <a href="#">植物资源</a>
			      <a href="#">机械模型</a>
			      <a href="#">雕塑资源</a>
			      <a href="#">军事兵器</a>
			      <a href="#">交通运输</a>
			      <a href="#">日用品模</a>
			      <a href="#">音乐体育</a>
			      <a href="#">电子电器</a>
			      <a href="#">家装设计</a>
			      <a href="#">工业设计</a>
		      </div>
	      </li>
      </ul>
	    <div class="mx_filter">
		    <a href="javascript:;">全部主题</a>
		    <a href="#" class="active">热门推荐</a>
		    <a href="#">最新上传</a>
	    </div>
	    <ul class="index_album mb40">
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_album_item_bg01">
				    <div class="index_album_item_bg02">
					    <div class="index_album_item_bg03">
						    <div class="index_album_item_pic">
							    <a href="#">
								    <span class="hot"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							    <div class="album_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <p>共120个模型</p>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		  </ul>
	    <div class="pagination">
		    <a href="#">上一页</a>
		    <a href="#" class="active">1</a>
		    <a href="#">2</a>
		    <a href="#">3</a>
		    <a href="#">4</a>
		    <a href="#">5</a>
		    <span>...</span>
		    <a href="#">下一页</a>
		    <a href="#">尾页</a>
		    <span>共 20 页，到第</span>
		    <input type="text" class="common_txt jumppage_txt">
		    <span>页</span>
		    <a href="#">确定</a>
	    </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/mx-list"></script>
</body>
</html>