<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/page.css" rel="stylesheet">
	
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
     <div class="albumdetail_con">
        <ul class="bread">
			    <li><a href="/" class="home_icon"></a></li>
			    <li><a href="/model/list">模型库</a></li>
			    <li class="last_nav">模型详情</li>
	    </ul>
	    <div class="pagealbum_top">
	        <div class="pagealbum_top_name">
		        <h5>未来科技-个人单载螺旋桨飞机专辑</h5>
		        <p>已订阅：999</p>
	        </div>
	        <div class="pagealbum_top_ope">
		        <!--<a href="#" class="dingyue">订阅</a>-->
		        <!--<a href="#" class="concel_dingyue">取消订阅</a>-->
		        <a href="#" class="dingyued">已订阅</a>
		        <div href="#" class="fenxiang">分享
			        <div class="share_box">
			              <span class="point">
			              </span>
				        <div class="bdsharebuttonbox">
					        <p class="share_label">分享到</p>
					        <!--<a href="#" class="bds_more" data-cmd="more"></a>-->
					        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					        <script>window._bd_share_config={
						        "common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},
						        "share":{"viewText":"分享到：","viewSize":"16"},
						        "selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
					        </script>
				        </div>
			        </div>
		        </div>
	        </div>
        </div>
	      <p class="pagealbum_intro">皮带机H支架是皮带机的重要组成部分，其安装质量的好坏直接影响皮带机的运行质量及工作面的回采效率。唐口煤业井下巷道变化复杂，而且存在大坡度，在这样的条
		      件下皮带在起坡点段容易飘带，且在大坡度上安装H支架倾斜角度较大，皮带机运行时会导致H支架倾斜歪倒，存在安全隐患。</p>
	      <ul class="index_mx">
		      <li>
			      <div class="index_mx_item_bg01">
				      <div class="index_mx_item_bg03">
					      <div class="index_mx_item_pic">
						      <a href="#">
							      <span class="jinpin"></span>
							      <img src="images/index_album.jpg" alt="" title="">
						      </a>
					      </div>
					      <div class="index_album_item_intro">
						      <div class="mx_name">
							      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
							      <span class="money">￥2999.00</span>
						      </div>
						      <div class="mx_user">
							      <div class="user_name">
								      <a href="#">
									      <img src="images/index_album.jpg" alt="" title="">
									      <span>用户昵称</span>
								      </a>
							      </div>
							      <div class="user_state">
								      <span class="see">299</span>
								      <span class="zan">192</span>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
		      <li>
			      <div class="index_mx_item_bg01">
				      <div class="index_mx_item_bg03">
					      <div class="index_mx_item_pic">
						      <a href="#">
							      <span class="jinpin"></span>
							      <img src="images/index_album.jpg" alt="" title="">
						      </a>
					      </div>
					      <div class="index_album_item_intro">
						      <div class="mx_name">
							      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
							      <span class="money">￥2999.00</span>
						      </div>
						      <div class="mx_user">
							      <div class="user_name">
								      <a href="#">
									      <img src="images/index_album.jpg" alt="" title="">
									      <span>用户昵称</span>
								      </a>
							      </div>
							      <div class="user_state">
								      <span class="see">299</span>
								      <span class="zan">192</span>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
	      </ul>
     
     
	   
	   <div class="pagination">
	  		    <a href="#">上一页</a>
	  		    <a href="#" class="active">1</a>
	  		    <a href="#">2</a>
	  		    <a href="#">3</a>
	  		    <a href="#">4</a>
	  		    <a href="#">5</a>
	  		    <span>...</span>
	  		    <a href="#">下一页</a>
	  		    <a href="#">尾页</a>
	  		    <span>共 20 页，到第</span>
	  		    <input type="text" class="common_txt jumppage_txt">
	  		    <span>页</span>
	  		    <a href="#">确定</a>
	   </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/page"></script>
</body>
</html>