<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/center_send.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/memberheader.html %>
  <section>
    <div class="center_wrap">
      <% include common/memberaside.html %>
      <div class="center_main">
        <div class="main_con_wrap">
	        <div class="common_label02">
		        <h3 class="albumtitle">上传的模型</h3>
		        <div class="albumope">
			        <a href="/model/upload" class="createalbum_link">上传模型</a>
			        <div class="albumsear">
				        <input type="text" class="albumsear_txt" placeholder="搜索上传的模型">
				        <a href="#" class="albumsear_btn"></a>
			        </div>
		        </div>
	        </div>
	        <div class="getscore_con">
		        <div class="center_article_tab">
			        <a href="#" class="active">审核通过（80）</a>
			        <a href="#">审核中（10）</a>
			        <a href="#">审核未通过（10）</a>
		        </div>
		        <ul class="index_mx center_mx">
			        <li>
				        <div class="index_mx_item_bg01">
					        <div class="index_mx_item_bg03">
						        <div class="index_mx_item_pic">
							        <a href="#">
								        <span class="jinpin"></span>
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#">
								        <div class="mx_name">
									        <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									        <span class="money">￥2999.00</span>
								        </div>
							        </a>
							        <div class="mx_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <div class="user_state">
									        <span class="see">299</span>
									        <span class="zan">192</span>
								        </div>
							        </div>
						        </div>
					        </div>
				        </div>
			        </li>
			        <li>
				        <div class="index_mx_item_bg01">
					        <div class="index_mx_item_bg03">
						        <div class="index_mx_item_pic">
							        <span class="edite">编辑</span>
							        <span class="delete">删除</span>
							        <a href="#">
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#">
								        <div class="mx_name">
									        <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									        <span class="money">￥2999.00</span>
								        </div>
							        </a>
							        <div class="mx_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <div class="user_state">
									        <span class="see">299</span>
									        <span class="zan">192</span>
								        </div>
							        </div>
						        </div>
					        </div>
				        </div>
			        </li>
			        <li>
				        <div class="index_mx_item_bg01">
					        <div class="index_mx_item_bg03">
						        <div class="index_mx_item_pic">
							        <span class="edite">编辑</span>
							        <span class="delete">删除</span>
							        <a href="#">
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#">
								        <div class="mx_name">
									        <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									        <span class="icon">2999.00</span>
								        </div>
							        </a>
							        <div class="mx_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <div class="user_state">
									        <span class="see">299</span>
									        <span class="zan">192</span>
								        </div>
							        </div>
						        </div>
					        </div>
				        </div>
			        </li>
			        <li>
				        <div class="index_mx_item_bg01">
					        <div class="index_mx_item_bg03">
						        <div class="index_mx_item_pic">
							        <span class="edite">编辑</span>
							        <span class="delete">删除</span>
							        <a href="#">
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#">
								        <div class="mx_name">
									        <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									        <span class="money">￥2999.00</span>
								        </div>
							        </a>
							        <div class="mx_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <div class="user_state">
									        <span class="see">299</span>
									        <span class="zan">192</span>
								        </div>
							        </div>
						        </div>
					        </div>
				        </div>
			        </li>
			      </ul>
		        <div class="pagination mt30">
			        <a href="#">上一页</a>
			        <a href="#" class="active">1</a>
			        <a href="#">2</a>
			        <a href="#">3</a>
			        <a href="#">4</a>
			        <a href="#">5</a>
			        <span>...</span>
			        <a href="#">下一页</a>
			        <a href="#">尾页</a>
			        <span>共 20 页，到第</span>
			        <input type="text" class="common_txt jumppage_txt">
			        <span>页</span>
			        <a href="#">确定</a>
		        </div>
	        </div>
        </div>
      </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/center_send"></script>
</body>
</html>