<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/certify.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/memberheader.html %>
  <section>
    <div class="center_wrap">
      <% include common/memberaside.html %>
      <div class="center_main">
        <div class="main_con_wrap">
	        <h3 class="common_label01">实名认证</h3>
	        <div class="getscore_con">
            <h5 class="certify_title">用户信息登记声明</h5>
            <p class="certify_intro01">CADKU致力于打造真实、合法、有效的CAD模型平台。为了更好的保障你和广大CADKU用户的合法权益，请你认真填写以下登记信息。</p>
		        <p class="certify_intro02">用户信息登记审核通过后：<br>
			        1. 您可以依法享有本CADKU帐号所产生的权利和收益；<br>
			        2. 您做为注册主体将被视为该账号的唯一收益拥有者。
		        </p>
		        <h5 class="certify_title">主体信息登记</h5>
		        <div class="certify_item">
			        <span class="certify_label">身份证姓名：</span>
			        <div class="certify_info">
				        <input type="text" class="common_txt certify_txt" placeholder="(信息审核成功后身份证姓名不可修改；如果名字包含分隔号“·”，请勿省略)">
				        <p class="certify_error">*请填写姓名</p>
			        </div>
		        </div>
		        <div class="certify_item">
			        <span class="certify_label">身份证号码：</span>
			        <div class="certify_info">
				        <input type="text" id="identify" class="common_txt certify_txt" placeholder="请输入您的18位身份证号码">
				        <p class="certify_error">*身份证格式不正确，或者年龄未满18周岁，请重新填写。</p>
			        </div>
		        </div>
		        <div class="certify_item">
			        <span class="certify_label">现居住地：</span>
			        <div class="certify_info">
				        <div class="dropdown_wrap_city mr5">
					        <div class="dropdown_link_city">
						        <span class="dropdownsel">请选择省份</span>
						        <span class="dropdownicon"></span>
					        </div>
					        <ul class="dropdown_menu_city">
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
						        <li><a href="javascript:;">某某省</a></li>
					        </ul>
				        </div>
				        <div class="dropdown_wrap_city">
					        <div class="dropdown_link_city">
						        <span class="dropdownsel">请选择城市</span>
						        <span class="dropdownicon"></span>
					        </div>
					        <ul class="dropdown_menu_city">
						        <li><a href="javascript:;">某某城市</a></li>
						        <li><a href="javascript:;">某某城市</a></li>
						        <li><a href="javascript:;">某某城市</a></li>
						        <li><a href="javascript:;">某某城市</a></li>
					        </ul>
				        </div>
				        <input type="text" class="common_txt certify_txt mt10" placeholder="请输入详细地址">
				        <p class="certify_error">*身份证格式不正确，或者年龄未满18周岁，请重新填写。</p>
			        </div>
		        </div>
		        <div class="certify_item">
			        <div class="card_lf">
                <h6 class="card_lf_label">身份证件（正面）:</h6>
				        <p class="card_lf_intro">请提交中华人民共和国居民身份证，无居民身份证的内地居民可提交《临时居民身份证》。
					        格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5M。</p>
				        <div class="card_area">
					        <!-- <div class="card_pic" id="upfacearea">
					        						        <img src="images/certify01.jpg" alt="" title="">
					        </div> -->
					        <div class="card_btns">
						        <a href="javascript:;" class="selectfile_btn" id="upface">选择文件</a>
						        <a href="javascript:;" class="selectfile_btn_again">重新上传</a>
					        </div>
				        </div>
				        <h6 class="card_lf_label mt30">身份证件（反面）:</h6>
				        <p class="card_lf_intro">请提交中华人民共和国居民身份证，无居民身份证的内地居民可提交《临时居民身份证》。
					        格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5M。</p>
				        <div class="card_area">
					       <!--  <div class="card_pic" id="upbackarea">
					       						        <img src="images/certify02.jpg" alt="" title="">
					       </div> -->
					        <div class="card_btns">
						        <a href="javascript:;" class="selectfile_btn" id="upback">选择文件</a>
						        <a href="javascript:;" class="selectfile_btn_again">重新上传</a>
					        </div>
				        </div>
			        </div>
			        <div class="card_rh">
				        <h6 class="card_rh_label">示例</h6>
				        <div class="card_rh_egpic">
					        <img src="images/certify01.jpg" alt="" title="">
				        </div>
				        <div class="card_rh_egpic">
					        <img src="images/certify02.jpg" alt="" title="">
				        </div>
			        </div>
		        </div>
		        <h5 class="certify_title">联系方式</h5>
		        <div class="certify_item">
			        <span class="certify_label">手机号码：</span>
			        <div class="certify_info">
				        <input type="text" class="common_txt certify_txt" placeholder="请填写手机号码，认证审核过程将与该运营者联系。验证码有效期10分钟。">
				        <p class="certify_error">*请填写正确的手机号码。</p>
			        </div>
		        </div>
		        <div class="certify_item">
			        <span class="certify_label">验证码：</span>
			        <div class="certify_info">
				        <input type="text" class="common_txt certify_yz_txt" placeholder="验证码"><a href="javascript:;" class="certify_yz_btn">获取短信验证码</a>
				        <p class="certify_error">*请填写姓名</p>
			        </div>
		        </div>
		        <div class="certify_submit_wrap">
			        <a href="javascript:;" id="certify_submitbtn">提交认证</a>
		        </div>
	        </div>
        </div>
      </div>
    </div>
  </section>
 <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/certify"></script>
</body>
</html>