<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/certify.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/memberheader.html %>
  <section>
    <div class="center_wrap">
      <% include common/memberaside.html %>
      <div class="center_main">
        <div class="main_con_wrap">
	        <h3 class="common_label01">个人认证</h3>
	        <div class="checkstate_wrap">
	            <!-- 审核中 -->
	        	<!-- <span class="checking_icon"></span>
	        	<p class="checking_intro">您的认证信息正在审核中，请耐心等待...</p> -->
	        	<!-- 审核通过 -->
	        	<!-- <span class="check_success"></span>
	        	<p class="checking_intro">恭喜，您已通过审核！</p> -->
	        	<!-- 审核不通过 -->
	        	<span class="check_fail"></span>
	        	<p class="checking_intro">恭喜，您已通过审核！</p>
	        	<p class="check_rewrite"><a href="#">重新填写</a></p>
            </div>
            <div class="check_infos">
            	<ul class="check_infos_list">
            		<li>
            			<span class="check_infos_label">身份证姓名 :  </span>
            			<span class="check_infos_cont">胡**</span>
            		</li>
            		<li>
            			<span class="check_infos_label">身份证号码 :  </span>
            			<span class="check_infos_cont">4211811963*****20</span>
            		</li>
            		<li>
            			<span class="check_infos_label">电话号码 :  </span>
            			<span class="check_infos_cont">1366****906</span>
            		</li>
            		<li>
            			<span class="check_infos_label">现居住地 ： </span>
            			<span class="check_infos_cont">湖南省湘潭市国际资本大厦*****室</span>
            		</li>
            	</ul>
            </div>
		       
		       
		    
		      
				       
				       
				      
					     
				       
			     
		        
		       
	        </div>
        </div>
      </div>
    </div>
  </section>
 <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/certify"></script>
</body>
</html>