<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/designerlist.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="designerlist_wrap">
      <ul class="bread">
	      <li><a href="/" class="home_icon"></a></li>
	      <li class="last_nav">设计师</li>
      </ul>
	    <div class="designer_con">
		    <div class="designer_lf">
			    <ul class="topmenu_list topmenu_list02">
				    <li class="topmenu_list_item">
					    <span class="topmenu_list_label">所在城市：</span>
					    <div class="topmenu_list_con topmenu_list_con02">
						    <a href="javascript:;">不限</a>
						    <a href="#" class="active">北京</a>
						    <a href="#">上海</a>
						    <a href="#">广州</a>
						    <a href="#">深圳</a>
						    <a href="#">南京</a>
						    <a href="#">天津</a>
						    <a href="#">杭州</a>
						    <a href="#">武汉</a>
						    <a href="#">成都</a>
						    <a href="#">西安</a>
						    <a href="#">福州</a>
						    <a href="#">苏州</a>
						    <a href="#">郑州</a>
						    <a href="#">合肥</a>
						    <a href="#">贵阳</a>
						    <a href="#">宁波</a>
						    <a href="#">长沙</a>
						    <a href="javascript:;" class="othercity_link">[ 其他城市 ]</a>
					    </div>
				    </li>
				    <li class="topmenu_list_item">
					    <span class="topmenu_list_label">擅长领域：</span>
					    <div class="topmenu_list_con">
						    <a href="javascript:;" class="active">不限</a>
						    <a href="#">人像建模</a>
						    <a href="#">建筑设计</a>
						    <a href="#">游戏设计</a>
						    <a href="#">工业设计</a>
						    <a href="#">雕塑设计</a>
					    </div>
				    </li>
			    </ul>
			    <div class="mx_filter mx_filter02">
				    <a href="javascript:;">平台推荐</a>
				    <a href="#" class="active">实名认证</a>
				    <a href="#">最新入驻</a>
			    </div>
			    <dl class="designerlist_item">
				    <dt>
					    <div class="designer_top">
                 <span class="designer_pic">
	                 <a href="#">
		                 <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
	                 </a>
                 </span>
				         <div class="designer_intro">
					         <a href="#" class="designer_name_link"><h6>用户张三<span>认证</span></h6></a>
					         <p>所在城市<em>武汉</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传模型<em>180个</em></p>
					         <p>擅长技能<em>3ds Max，3D-Coat，Auto CAD，Photoshop</em></p>
				         </div>
			        </div>
				      <a href="#" class="designer_concern">+&nbsp;关注</a>
				    </dt>
				    <dd>
					    <div class="designer_mx">
						    <a href="#">
						     <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
				    </dd>
			    </dl>
			    <dl class="designerlist_item">
				    <dt>
				    <div class="designer_top">
                 <span class="designer_pic">
	                 <a href="#">
		                 <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
	                 </a>
                 </span>
					    <div class="designer_intro">
						    <a href="#" class="designer_name_link"><h6>用户张三<!--<span>认证</span>--></h6></a>
						    <p>所在城市<em>武汉</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传模型<em>180个</em></p>
						    <p>擅长技能<em>3ds Max，3D-Coat，Auto CAD，Photoshop</em></p>
					    </div>
				    </div>
				    <a href="#" class="designer_concern">+&nbsp;关注</a>
				    </dt>
				    <dd>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="designer_mx">
						    <a href="#">
							    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
				    </dd>
			    </dl>
			    <div class="pagination pt15">
				    <a href="#">上一页</a>
				    <a href="#" class="active">1</a>
				    <a href="#">2</a>
				    <a href="#">3</a>
				    <a href="#">4</a>
				    <a href="#">5</a>
				    <span>...</span>
				    <a href="#">下一页</a>
				    <a href="#">尾页</a>
				    <span>共 20 页，到第</span>
				    <input type="text" class="common_txt jumppage_txt">
				    <span>页</span>
				    <a href="#">确定</a>
			    </div>
		    </div>
		    <div class="designer_rh">
			    <div class="designer_fixed">
	          <h3 class="designer_apply_label">申请定制设计</h3>
				    <p class="designer_apply_intro">快速发布需求 找到专属设计</p>
				    <input type="text" class="common_txt request_txt" placeholder="您的需求">
				    <input type="text" class="common_txt request_txt" placeholder="您的手机号">
				    <textarea class="common_txt request_area" placeholder="您的需求简述"></textarea>
				    <a href="#" class="request_submit">立即提交</a>
				    <p class="designer_apply_notice">* CADKU将严格保护您的隐私，请放心填写</p>
			    </div>
		    </div>
	    </div>

    </div>
  </section>
  <footer>
	  <div class="foot_wrap">
		    <div class="foot_content">
			    <div class="friend_links">
				       <span class="friend_links_label">友情链接 Links</span>
				       <div class="friend_links_con">
					       <a href="#">3D打印</a>
					       <a href="#">弘瑞3D打印 </a>
					       <a href="#">熊玩意</a>
					       <a href="#">3D打印商城</a>
					       <a href="#">3D打印联盟</a>
					       <a href="#">1001号</a>
					       <a href="#">OFweek3D打印网</a>
					       <a href="#">3DOne 创客教育</a>
					       <a href="#">摩登犀牛网</a>
					       <a href="#">D打印在线</a>
				       </div>
			    </div>
			    <div class="foot_about">
				    <div class="foot_about_link">
					    <a href="#">关于我们</a>
					    <a href="#">加入我们</a>
					    <a href="#">媒体报道</a>
					    <a href="#">服务协议</a>
					    <a href="#">隐私条款</a>
					    <a href="#">官方微信</a>
				    </div>
				    <p class="foot_about_copy">备案号：鄂ICP备14010995号   © 2017 CADKU.com   科乐得(武汉)技术股份有限公司</p>
			    </div>
		    </div>
	  </div>
  </footer>
  <!--citylayer-->
  <div class="common_mask" id="cityselect">
	  <div class="city_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">选择城市</h3>
      <div class="city_box">
	      <div class="city_select_line">
	          <span class="city_select_label">按省份选择</span>
			      <div class="dropdown_wrap">
					      <div class="dropdown_link">
						      <span class="dropdownsel">请选择子分类</span>
						      <span class="dropdownicon"></span>
					      </div>
					      <ul class="dropdown_menu">
						      <li><a href="javascript:;">子分类一</a></li>
						      <li><a href="javascript:;">子分类二</a></li>
						      <li><a href="javascript:;">子分类三</a></li>
						      <li><a href="javascript:;">子分类四</a></li>
					      </ul>
		        </div>
			      <div class="dropdown_wrap mlr10">
				      <div class="dropdown_link">
					      <span class="dropdownsel">请选择子分类</span>
					      <span class="dropdownicon"></span>
				      </div>
				      <ul class="dropdown_menu">
					      <li><a href="javascript:;">子分类一</a></li>
					      <li><a href="javascript:;">子分类二</a></li>
					      <li><a href="javascript:;">子分类三</a></li>
					      <li><a href="javascript:;">子分类四</a></li>
				      </ul>
			      </div>
			      <a href="#" class="city_select_submit">确认</a>
	      </div>
	      <h5 class="city_select_label02">热门城市</h5>
	      <div class="city_hots">
		      <a href="#">北京</a>
		      <a href="#">上海</a>
		      <a href="#">广州</a>
		      <a href="#">深圳</a>
		      <a href="#">南京</a>
		      <a href="#">天津</a>
		      <a href="#">杭州</a>
		      <a href="#">武汉</a>
		      <a href="#">成都</a>
		      <a href="#">西安</a>
		      <a href="#">福州</a>
		      <a href="#">苏州</a>
		      <a href="#">郑州</a>
		      <a href="#">合肥</a>
		      <a href="#">贵阳</a>
		      <a href="#">宁波</a>
		      <a href="#">长沙</a>
	      </div>
      </div>
	  </div>
  </div>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/designerlist"></script>
</body>
</html>