<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/lg_reg.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/mainheader.html %>
  <section>
    <div class="forpwd_wrap">
      <h3 class="forpwd_label">找回密码</h3>
	    <ul class="forpwd_flow">
		    <li class="active">
			    <span></span>
			    <p>确认账号</p>
		    </li>
		    <li>
			    <span></span>
			    <p>安全验证</p>
		    </li>
		    <li>
			    <span></span>
			    <p>重置密码</p>
		    </li>
		    <li>
			    <span></span>
			    <p>完成</p>
		    </li>
	    </ul>
	    <div class="acount_info">
		    <div class="acount_item mb20">
			    <span class="acount_label">账号：</span>
			    <input type="text" class="acount_txt common_txt" placeholder="">
		    </div>
		    <div class="acount_item">
			    <span class="acount_label">验证码：</span>
			    <input type="text" class="acount_yzm common_txt" placeholder="">
			    <img src="images/yzm01.jpg" alt="" title="">
			    <a href="javascript:;" class="change_btn">换一张</a>
		    </div>
		    <div class="acout_confirm">
			    <p class="error_notice">您的账号未绑定邮箱，无法进行身份验证。</p>
			    <a href="#" class="submitbtn">下一步</a>
		    </div>
	    </div>
    </div>
  </section>
 <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/lg_reg"></script>
</body>
</html>