<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<title>cadku-index</title>
	<link type="text/css" href="/styles/index.css" rel="stylesheet">
	<link type="text/css" href="/styles/page.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
	  <div class="maincon_top">
      <div class="index_mxtype">
        <h5 class="index_mxtype_label">模型分类</h5>
	      <ul class="index_mxtype_lb">
		      <li>
			      <a href="/model/list">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
		      <li>
			      <a href="#">模型分类</a>
		      </li>
	      </ul>
      </div>
		  <div class="index_banner">
			  <ul class="index_banner_lb">
				  <li>
					  <a href="#">
						   <img src="../images/index_banner01.jpg" alt="" title="">
					  </a>
				  </li>
				  <li>
					  <a href="#">
						  <img src="../images/index_banner02.jpg" alt="" title="">
					  </a>
				  </li>
				  <li>
					  <a href="#">
						  <img src="../images/index_banner03.jpg" alt="" title="">
				    </a>
				  </li>
			  </ul>
			  <div class="index_banner_indicaters">
				  <a href="javascript:;" class="active"></a>
				  <a href="javascript:;"></a>
				  <a href="javascript:;"></a>
			  </div>
		  </div>
		  <div class="index_state">
			  <div class="cadlab_top">
				  <div class="cadlab_top_bg"></div>
				  <div class="cadlab_top_info">
					  <img src="images/cadlab_per.png">
					  <p class="cadlab_intro">CAD模型交易上CAD<em>KU</em><br><span>万千模型任君挑选</span></p>
					  <san class="circle">平台<br>指数</san>
				  </div>
			  </div>
			  <div class="cadlab_num">56,564,205<br><span>CAD模型</span></div>
			  <a href="#" class="cadlab_sendbtn">免费发布CAD设计任务</a>
			  <div class="index_latestnews">
				  <h5>最新交易动态</h5>
					<div class="index_latestlb">
							<ul>
								  <li><a href="#">用户张三 购买了立式酷爽冰箱模型</a></li>
								  <li><a href="#">用户李四 购买了立式酷爽冰箱模...</a></li>
							</ul>
					</div>
        </div>
		  </div>
	  </div>
	  <div class="mx_wrap">
		  <div class="top_label">
			  <h3>热门专辑</h3>
			  <a href="/model/albumlist" class="label_more">查看更多&gt</a>
		  </div>
		  <ul class="index_album">
			  <li>
				  <div class="index_album_item_bg01">
						  <div class="index_album_item_bg02">
							  <div class="index_album_item_bg03">
		              <div class="index_album_item_pic">
			              <a href="#">
			                <span class="hot"></span>
			                <img src="../images/index_album.jpg" alt="" title="">
		                </a>
		              </div>
								  <div class="index_album_item_intro">
									  <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
									  <div class="album_user">
										  <div class="user_name">
											  <a href="#">
												  <img src="images/index_album.jpg" alt="" title="">
												  <span>用户昵称</span>
											  </a>
										  </div>
										  <p>共120个模型</p>
									  </div>
								  </div>
							  </div>
						  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_album_item_bg01">
					  <div class="index_album_item_bg02">
						  <div class="index_album_item_bg03">
							  <div class="index_album_item_pic">
								  <a href="#">
									  <span class="hot"></span>
									  <img src="../images/index_album.jpg" alt="" title="">
								  </a>
							  </div>
							  <div class="index_album_item_intro">
								  <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
								  <div class="album_user">
									  <div class="user_name">
										  <a href="#">
											  <img src="images/index_album.jpg" alt="" title="">
											  <span>用户昵称</span>
										  </a>
									  </div>
									  <p>共120个模型</p>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_album_item_bg01">
					  <div class="index_album_item_bg02">
						  <div class="index_album_item_bg03">
							  <div class="index_album_item_pic">
								  <a href="#">
									  <span class="hot"></span>
									  <img src="../images/index_album.jpg" alt="" title="">
								  </a>
							  </div>
							  <div class="index_album_item_intro">
								  <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
								  <div class="album_user">
									  <div class="user_name">
										  <a href="#">
											  <img src="../images/index_album.jpg" alt="" title="">
											  <span>用户昵称</span>
										  </a>
									  </div>
									  <p>共120个模型</p>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_album_item_bg01">
					  <div class="index_album_item_bg02">
						  <div class="index_album_item_bg03">
							  <div class="index_album_item_pic">
								  <a href="#">
									  <span class="hot"></span>
									  <img src="../images/index_album.jpg" alt="" title="">
								  </a>
							  </div>
							  <div class="index_album_item_intro">
								  <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
								  <div class="album_user">
									  <div class="user_name">
										  <a href="#">
											  <img src="../images/index_album.jpg" alt="" title="">
											  <span>用户昵称</span>
										  </a>
									  </div>
									  <p>共120个模型</p>
								  </div>
						  </div>
					  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_album_item_bg01">
					  <div class="index_album_item_bg02">
						  <div class="index_album_item_bg03">
							  <div class="index_album_item_pic">
								  <a href="#">
									  <span class="hot"></span>
									  <img src="../images/index_album.jpg" alt="" title="">
								  </a>
							  </div>
							  <div class="index_album_item_intro">
								  <a href="#">
									  <p class="album_name">
										  6050 型全自动影像测量仪...6050 型全自动影像测量仪...
									  </p>
								  </a>
								  <div class="album_user">
									  <div class="user_name">
										  <a href="#">
											  <img src="../images/index_album.jpg" alt="" title="">
											  <span>用户昵称</span>
										  </a>
									  </div>
									  <div>
										  <span></span>
										  <span></span>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
		  </ul>
		  <div class="top_label tp20">
			  <h3>精品推荐</h3>
			  <a href="model/list" class="label_more">查看更多&gt</a>
		  </div>
		  <ul class="index_mx">
         <li>
	         <div class="index_mx_item_bg01">
		         <div class="index_mx_item_bg03">
				         <div class="index_mx_item_pic">
					         <a href="#">
						         <span class="jinpin"></span>
						         <img src="../images/index_album.jpg" alt="" title="">
					         </a>
				         </div>
				         <div class="index_album_item_intro">
					         <a href="#">
						         <div class="mx_name">
							         <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
							         <span class="money">￥2999.00</span>
						         </div>
					         </a>
					         <div class="mx_user">
						         <div class="user_name">
							         <a href="#">
								         <img src="../images/index_album.jpg" alt="" title="">
								         <span>用户昵称</span>
							         </a>
						         </div>
						         <div class="user_state">
							         <span class="see">299</span>
							         <span class="zan">192</span>
						         </div>
					         </div>
				         </div>
			         </div>
	         </div>
         </li>
			  <li>
				  <div class="index_mx_item_bg01">
					  <div class="index_mx_item_bg03">
						  <div class="index_mx_item_pic">
							  <a href="#">
								  <span class="jinpin"></span>
								  <img src="../images/index_album.jpg" alt="" title="">
							  </a>
						  </div>
						  <div class="index_album_item_intro">
							  <a href="#">
								  <div class="mx_name">
									  <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									  <span class="money">￥2999.00</span>
								  </div>
							  </a>
							  <div class="mx_user">
								  <div class="user_name">
									  <a href="#">
										  <img src="../images/index_album.jpg" alt="" title="">
										  <span>用户昵称</span>
									  </a>
								  </div>
								  <div class="user_state">
									  <span class="see">299</span>
									  <span class="zan">192</span>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_mx_item_bg01">
					  <div class="index_mx_item_bg03">
						  <div class="index_mx_item_pic">
							  <a href="#">
								  <span class="jinpin"></span>
								  <img src="../images/index_album.jpg" alt="" title="">
							  </a>
						  </div>
						  <div class="index_album_item_intro">
							  <a href="#">
								  <div class="mx_name">
									  <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									  <span class="money">￥2999.00</span>
								  </div>
							  </a>
							  <div class="mx_user">
								  <div class="user_name">
									  <a href="#">
										  <img src="../images/index_album.jpg" alt="" title="">
										  <span>用户昵称</span>
									  </a>
								  </div>
								  <div class="user_state">
									  <span class="see">299</span>
									  <span class="zan">192</span>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_mx_item_bg01">
					  <div class="index_mx_item_bg03">
						  <div class="index_mx_item_pic">
							  <a href="#">
								  <span class="jinpin"></span>
								  <img src="../images/index_album.jpg" alt="" title="">
							  </a>
						  </div>
						  <div class="index_album_item_intro">
							  <a href="#">
								  <div class="mx_name">
									  <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									  <span class="icon">200</span>
								  </div>
							  </a>
							  <div class="mx_user">
								  <div class="user_name">
									  <a href="#">
										  <img src="../images/index_album.jpg" alt="" title="">
										  <span>用户昵称</span>
									  </a>
								  </div>
								  <div class="user_state">
									  <span class="see">299</span>
									  <span class="zan">192</span>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
			  <li>
				  <div class="index_mx_item_bg01">
					  <div class="index_mx_item_bg03">
						  <div class="index_mx_item_pic">
							  <a href="#">
								  <span class="jinpin"></span>
								  <img src="../images/index_album.jpg" alt="" title="">
							  </a>
						  </div>
						  <div class="index_mx_item_intro">
							  <a href="#">
								  <div class="mx_name">
									  <span class="name">6050 型全自动影像测量仪...6050 型全自动影像测量仪...</span>
									  <span class="money">￥2999.00</span>
							    </div>
							  </a>
							  <div class="mx_user">
								  <div class="user_name">
									  <a href="#">
										  <img src="../images/index_album.jpg" alt="" title="">
										  <span>用户昵称</span>
									  </a>
								  </div>
								  <div class="user_state">
                    <span class="see">299</span>
									  <span class="zan">192</span>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </li>
		  </ul>
	  </div>
	  <div class="indextask_wrap">
		  <div class="indextask_content">
			  <div class="task_label">
				  <h3>设计任务<a href="#" class="sendtask_btn">免费发布CAD设计任务</a></h3>
				  <a href="#" class="task_more">查看更多&gt</a>
			  </div>
			  <ul class="index_task_lb">
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
						  制作减震台与下部连接装置CAD图形...
						  <span>竞标中</span>
					    </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
							  制作减震台与下部连接装置CAD图形...
							  <span>竞标中</span>
						  </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
							  制作减震台与下部连接装置CAD图形...
							  <span>竞标中</span>
						  </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
							  制作减震台与下部连接装置CAD图形...
							  <span>竞标中</span>
						  </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
							  制作减震台与下部连接装置CAD图形...
							  <span>竞标中</span>
						  </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
				  <li>
					  <a href="#" class="index_task_name_link">
						  <div class="index_task_name">
							  制作减震台与下部连接装置CAD图形...
							  <span>竞标中</span>
						  </div>
					  </a>
					  <p class="index_task_price">￥500.00</p>
					  <div class="index_task_state">
						  <span class="person_nums">已有竞标：20 人</span>
						  <span>截止日期：2017-06-02</span>
					  </div>
				  </li>
			  </ul>
		  </div>
	  </div>
	  <div class="index_news_wrap">
			  <div class="top_label">
				  <h3>资讯教程</h3>
				  <a href="#" class="label_more">查看更多&gt</a>
			  </div>
			  <div class="index_news_content">
				   <div class="index_news_recommend">
					   <img src="images/index_album.jpg">
					   <h6>AutoCAD2018新功能</h6>
					   <p>这是一篇关于Autocad三维基础实例：太极球的教程，太极球的绘制主要是通过引导线放样绘制的，主要步骤如下，让我们一起学习一下吧。这是一篇关于Autocad三维基础实例：太极球的教程，</p>
				   </div>
				   <div class="index_news_rencent">
					   <h5>最新资讯</h5>
					   <ul>
						   <li>
							   <a href="#"><h6>工业4.0更亟需正版三维CAD软件资产管理？</h6> </a>
								   <p>这是一篇关于Autocad三维基础实例：太极球的教程，..</p>
               </li>
						   <li>
							   <a href="#"><h6>工业4.0更亟需正版三维CAD软件资产管理？</h6> </a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，..</p>
						   </li>
						   <li>
							   <a href="#"><h6>工业4.0更亟需正版三维CAD软件资产管理？</h6> </a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，..</p>
						   </li>
						   <li>
							   <a href="#"><h6>工业4.0更亟需正版三维CAD软件资产管理？</h6> </a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，..</p>
						   </li>
						   <li>
							   <a href="#"><h6>工业4.0更亟需正版三维CAD软件资产管理？</h6> </a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，..</p>
						   </li>
					   </ul>
				   </div>
				   <div class="index_cad_course">
             <h5>CAD教程</h5>
					   <ul>
						   <li>
							   <a href="#"><h6>AutoCAD2016足球三维建模教程</h6></a>
								   <p>这是一篇关于Autocad三维基础实例：太极球的教程，...</p>

						   </li>
						   <li>
							     <a href="#"><h6>AutoCAD2016足球三维建模教程</h6></a>
								   <p>这是一篇关于Autocad三维基础实例：太极球的教程，...</p>
						   </li>
						   <li>
							     <a href="#"><h6>AutoCAD2016足球三维建模教程</h6></a>
								   <p>这是一篇关于Autocad三维基础实例：太极球的教程，...</p>
						   </li>
						   <li>
							   <a href="#"><h6>AutoCAD2016足球三维建模教程</h6></a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，...</p>

						   </li>
						   <li>
							   <a href="#"><h6>AutoCAD2016足球三维建模教程</h6></a>
							   <p>这是一篇关于Autocad三维基础实例：太极球的教程，...</p>
						   </li>
					   </ul>
				   </div>
			  </div>
		</div>

  </section>
  <% include common/mainfooter.html %>
  <script type="text/javascript" src="/scripts/index.js"></script>
<!--<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/index"></script>-->
</body>
</html>