<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/manage.css" rel="stylesheet">
</head>
<body class="body_bg02">
<% include common/memberheader.html %>
<section>
	<div class="center_wrap">
		<% include common/memberaside.html %>
		<div class="center_main">
			<div class="main_con_wrap">
				<h3 class="common_label01">购买的订单详情</h3>
				<ul class="listflow">
					<li class="active">1
						<p>选择模型</p>
					</li>
					<li class="active">2
						<p>支付</p>
					</li>
					<li>3
						<p>下载模型</p>
					</li>
					<li>
						<i></i>
						<p>评价</p>
					</li>
				</ul>
				<div class="list_info_label">订单信息<a href="#">有疑问，联系客服</a></div>
				<p class="list_info_name">模型买家：wangyun</p>
				<div class="list_info_item"><span>订单编号：414429796977718946</span><span>付款时间：2017-04-26 08:56:56</span></div>
				<div class="list_info_item"><span>创建时间：2017-04-26 07:56：20</span><span>付款方式：支付宝</span></div>
				<table cellspacing="0" cellpadding="0" class="list_tb mt30">
					<colgroup>
						<col class="col01">
						<col span="4" class="col02">
					</colgroup>
					<thead>
					<tr>
						<th class="list_th01">
							<span class="list_th01_item_detail01">订单详情</span>
							<span class="list_th01_item_detail02">单价（元）</span>
						</th>
						<th>数量（个）</th>
						<th>合计（元）</th>
						<th>订单状态</th>
						<th>总销量（个）</th>
					</tr>
					</thead>
					<tbody>
					<tr class="listitem_main">
						<td>
							<div class="listitem">
								<dl class="listitem_info">
									<dt>
										<a href="#">
											<img class="lazydown" data-original="images/index_album.jpg" src="images/index_album.jpg" alt="" title="">
										</a>
									</dt>
									<dd>
										<a href="#">
											<p>差速器 - hex flange bolt
												small_iso-4.stl</p>
										</a>
									</dd>
								</dl>
								<div class="listitem_price">￥5050505050505050.00</div>
							</div>
						</td>
						<td class="listitem_num">x1</td>
						<td class="listitem_price">￥50.00</td>
						<td class="listitem_wrap">
							<p class="listitem_state03">待评价</p>
						</td>
						<td class="listitem_total_num">
							20
						</td>
					</tr>
					</tbody>
				</table>
				<div class="list_info_label02">模型评价</div>
				<dl class="list_commended_item">
					<dt>
						<img src="images/perpic.jpg" alt="" title="">
					<p>wangyun<br>2017-04-26</p>
					</dt>
					<dd>
						<div class="list_commend_start">
							<span class="list_commend_label">模型评分</span>
							<div class="listcommend_start_wrap">
								<div class="listcommend_starts">
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</div>
								<em>4.0</em>
							</div>
						</div>
						<div class="list_commend_cont">
							<span class="list_commend_label">评价内容</span>
							<p>这个模型还不错，打印出来很好看。</p>
						</div>
					</dd>
				</dl>
				<div class="list_commend_edite">
					<div class="list_commend_edite_item">
						<span class="list_commend_edite_label">评价内容</span>
						<div class="list_commend_edite_cont">
							<textarea class="common_txt"></textarea>
						</div>
					</div>
					<a href="#" class="list_commend_edite_submit">提交</a>
				</div>
			</div>
		</div>
	</div>
</section>
<% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/manage"></script>
</body>
</html>