<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/center_index.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/memberheader.html %>
  <section>
    <div class="center_wrap">
      <% include common/memberaside.html %>
      <div class="center_main">
	      <div class="center_main_top">
		       <dl class="top_person_intro">
			       <dt>
				       <a href="#"><img src="images/index_album.jpg" alt="" title=""></a>
			       </dt>
			       <dd>
				       <a href="#"><h5>3D打印设计师<span class="renzheng">认证</span></h5></a>
				       <p class="link_page_wrap"><a href="#"class="link_page">查看个人主页</a></p>
				       <div class="email_wrap">我的邮箱：yang@cloudmany.com&nbsp;&nbsp;&nbsp;&nbsp;未验证<a href="#">立即验证</a></div>
				       <div class="personinfo_bind">
                 <a href="#" class="icon01 binded"></a> <!--binded为icon01~icon05绑定之后的样式-->
					       <a href="#" class="icon02"></a>
					       <a href="#" class="icon03"></a>
					       <a href="#" class="icon04"></a>
					       <a href="#" class="icon05"></a>
				       </div>
			       </dd>
		       </dl>
		      <div class="top_money">
			      <h6>我的资金</h6>
			      <p class="top_money_value">￥600.50</p>
			      <div class="top_money_ope">
				      <span><a href="/user/bookcharge">提现</a></span>
				      <span><a href="/user/bookcharge">充值</a></span>
			      </div>
		      </div>
		      <div class="top_score">
			      <h6>我的积分</h6>
			      <p class="top_score_value">200</p>
			      <p class="top_score_ope"><a href="/user/getscore">赚取积分</a></p>
		      </div>
	      </div>
        <div class="centerindex_album">
	        <div class="centerindex_album_top">
		        <h3>热门专辑</h3>
		        <a href="#">查看更多</a>
	        </div>
	        <ul class="index_album">
		        <li>
			        <div class="index_album_item_bg01">
				        <div class="index_album_item_bg02">
					        <div class="index_album_item_bg03">
						        <div class="index_album_item_pic">
							        <a href="#">
								        <span class="hot"></span>
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							        <div class="album_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <p>共120个模型</p>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </li>
		        <li>
			        <div class="index_album_item_bg01">
				        <div class="index_album_item_bg02">
					        <div class="index_album_item_bg03">
						        <div class="index_album_item_pic">
							        <a href="#">
								        <span class="hot"></span>
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							        <div class="album_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <p>共120个模型</p>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </li>
		        <li>
			        <div class="index_album_item_bg01">
				        <div class="index_album_item_bg02">
					        <div class="index_album_item_bg03">
						        <div class="index_album_item_pic">
							        <a href="#">
								        <span class="hot"></span>
								        <img src="images/index_album.jpg" alt="" title="">
							        </a>
						        </div>
						        <div class="index_album_item_intro">
							        <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							        <div class="album_user">
								        <div class="user_name">
									        <a href="#">
										        <img src="images/index_album.jpg" alt="" title="">
										        <span>用户昵称</span>
									        </a>
								        </div>
								        <p>共120个模型</p>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </li>
		      </ul>
        </div>
	      <div class="centerindex_mx">
		      <div class="centerindex_mx_top">
			      <h3>精品推荐</h3>
			      <a href="#">查看更多</a>
		      </div>
		      <ul class="index_mx">
			      <li>
				      <div class="index_mx_item_bg01">
					      <div class="index_mx_item_bg03">
						      <div class="index_mx_item_pic">
							      <a href="#">
								      <span class="jinpin"></span>
								      <img src="images/index_album.jpg" alt="" title="">
							      </a>
						      </div>
						      <div class="index_album_item_intro">
							      <a href="#">
								      <div class="mx_name">
									      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									      <span class="money">￥2999.00</span>
								      </div>
							      </a>
							      <div class="mx_user">
								      <div class="user_name">
									      <a href="#">
										      <img src="images/index_album.jpg" alt="" title="">
										      <span>用户昵称</span>
									      </a>
								      </div>
								      <div class="user_state">
									      <span class="see">299</span>
									      <span class="zan">192</span>
								      </div>
							      </div>
						      </div>
					      </div>
				      </div>
			      </li>
			      <li>
				      <div class="index_mx_item_bg01">
					      <div class="index_mx_item_bg03">
						      <div class="index_mx_item_pic">
							      <a href="#">
								      <span class="jinpin"></span>
								      <img src="images/index_album.jpg" alt="" title="">
							      </a>
						      </div>
						      <div class="index_album_item_intro">
							      <a href="#">
								      <div class="mx_name">
									      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									      <span class="money">￥2999.00</span>
								      </div>
							      </a>
							      <div class="mx_user">
								      <div class="user_name">
									      <a href="#">
										      <img src="images/index_album.jpg" alt="" title="">
										      <span>用户昵称</span>
									      </a>
								      </div>
								      <div class="user_state">
									      <span class="see">299</span>
									      <span class="zan">192</span>
								      </div>
							      </div>
						      </div>
					      </div>
				      </div>
			      </li>
			      <li>
				      <div class="index_mx_item_bg01">
					      <div class="index_mx_item_bg03">
						      <div class="index_mx_item_pic">
							      <a href="#">
								      <span class="jinpin"></span>
								      <img src="images/index_album.jpg" alt="" title="">
							      </a>
						      </div>
						      <div class="index_album_item_intro">
							      <a href="#">
								      <div class="mx_name">
									      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
									      <span class="icon">￥2999.00</span>
								      </div>
							      </a>
							      <div class="mx_user">
								      <div class="user_name">
									      <a href="#">
										      <img src="images/index_album.jpg" alt="" title="">
										      <span>用户昵称</span>
									      </a>
								      </div>
								      <div class="user_state">
									      <span class="see">299</span>
									      <span class="zan">192</span>
								      </div>
							      </div>
						      </div>
					      </div>
				      </div>
			      </li>
			    </ul>
        </div>

	      <div class="centerindex_task">
		      <div class="centerindex_task_top">
			      <h3>最新任务</h3>
			      <a href="#">查看更多</a>
		      </div>
		      <table cellspacing="0" cellpadding="0" class="centerindex_task_lb">
			      <colgroup>
				      <col class="col01">
				      <col class="col02">
				      <col class="col03">
				      <col class="col04">
				      <col class="col05">
			      </colgroup>
			      <thead>
				      <tr>
					      <th>任务标题</th>
					      <th>任务预算</th>
					      <th>竞标截止时间</th>
					      <th>状态</th>
				      </tr>
			      </thead>
			      <tbody>
			        <tr>
				        <td class="task_name">
					        <a href="#"><p class="task_name_link">Y81-250金属打包机图纸绘制</p></a>
					        <p class="task_size">压缩室尺寸2000（宽）X2450（长）X1200(高）</p>
				        </td>
				        <td class="task_price">
					        ￥200~500
				        </td>
				        <td class="task_time">
					        <p class="time">2017-06-02</p>
					        <p class="num">已有竞标：<em>20</em>人</p>
				        </td>
				        <td class="task_state01">竞标中</td>
			        </tr>
			        <tr>
				        <td class="task_name">
					        <a href="#"><p class="task_name_link">Y81-250金属打包机图纸绘制</p></a>
					        <p class="task_size">压缩室尺寸2000（宽）X2450（长）X1200(高）</p>
				        </td>
				        <td class="task_price">
					        ￥200~500
				        </td>
				        <td class="task_time">
					        <p class="time">2017-06-02</p>
					        <p class="num">已有竞标：<em>20</em>人</p>
				        </td>
				        <td class="task_state02">已选标</td>
			        </tr>
			        <tr>
				        <td class="task_name">
					        <a href="#"><p class="task_name_link">Y81-250金属打包机图纸绘制</p></a>
					        <p class="task_size">压缩室尺寸2000（宽）X2450（长）X1200(高）</p>
				        </td>
				        <td class="task_price">
					        ￥200~500
				        </td>
				        <td class="task_time">
					        <p class="time">2017-06-02</p>
					        <p class="num">已有竞标：<em>20</em>人</p>
				        </td>
				        <td class="task_state02">已选标</td>
			        </tr>
			      </tbody>
		      </table>
		    </div>
      </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/center_index"></script>
</body>
</html>