<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/account_safe.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/memberheader.html %>
  <section>
    <div class="center_wrap">
      <% include common/memberaside.html %>
      <div class="center_main">
        <div class="main_con_wrap">
	        <h3 class="common_label01">绑定邮箱地址</h3>
	        <div class="getscore_con pb150">
		        <ul class="modifypwd_flow">
			        <li class="active">
				        <span></span>
				        <p>验证身份</p>
			        </li>
			        <li>
				        <span></span>
				        <p>更换新的邮箱</p>
			        </li>
			        <li class="last_flow">
				        <span></span>
				        <p>完成</p>
			        </li>
		        </ul>
		        <div class="modifypwd_info">
			        <p class="oldemail">您已绑定的邮箱地址：<em>5466***20@qq.com</em></p>
			        <div class="getyzm">
				        <span class="getyzm_label">验证码：</span>
				        <input type="text" class="common_txt getyzm_txt">
				        <a href="#" class="getyzm_btn">获取验证码</a>
			        </div>
			        <div class="modifypwd_nextbtn">
				        <p class="modify_error">验证码错误</p>
				        <a href="/user/safe/email2">下一步</a>
			        </div>
		        </div>
	        </div>
        </div>
      </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/account_safe"></script>
</body>
</html>