<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/mxdetail.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="mxdetail_wrap">
		   <ul class="bread">
			    <li><a href="/" class="home_icon"></a></li>
			    <li><a href="/model/list">模型库</a></li>
			    <li class="last_nav">模型详情</li>
		   </ul>
       <div class="mxdetail_main">
         <h3 class="mxdetail_tit">
	         未来科技-个人单载螺旋桨飞机<span>精品</span>
         </h3>
	       <div class="detail_show_wrap">
		       <div class="detail_show_big"><img src="images/detail_show01.jpg" alt="" title=""></div>
		       <div class="detail_show_sm">
			       <span class="detail_show_control_prev"></span>
			       <div class="detail_show_control_wrap">
				       <ul class="detail_show_control_ul">
					       <li class="detail_show_control_item active">
						       <img src="images/detail_show01.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show02.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show03.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show04.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show05.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show06.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show01.jpg" alt="" title="">
					       </li>
					       <li class="detail_show_control_item">
						       <img src="images/detail_show02.jpg" alt="" title="">
					       </li>
				       </ul>
			       </div>
			       <span class="detail_show_control_next"></span>
		       </div>
	       </div>
	       <h5 class="detail_label">模型介绍</h5>
	       <p class="detail_intro">这个模型采用SOLIDWORKS2015版本设计，设计的四旋翼玩具飞机，看起来实用简单，结构简练优化。该模型创建效果逼真，不含参数，可以修改，如果感兴趣，欢迎下载</p>
         <h5 class="detail_label">模型文件（10）</h5>
	       <table cellpadding="0" cellspacing="0" class="detailfile_list">
		       <thead>
			       <tr>
				       <th class="col01">文件名</th>
				       <th class="col02">文件格式</th>
				       <th class="col03">文件大小</th>
				       <th class="col04">下载次数</th>
				       <th class="col05">软件版本</th>
			       </tr>
		       </thead>
		       <tbody>
		         <tr>
			         <td class="col01 detail_file">
				         <img src="images/detailfile_pic.png">
				         <span>Engine Body.sldprt</span>
			         </td>
			         <td class="col02">stp</td>
			         <td class="col03">12.3 M</td>
			         <td class="col04">8</td>
			         <td class="col05">AutoCAD</td>
		         </tr>
		         <tr>
			         <td class="col01 detail_file">
				         <img src="images/detailfile_pic.png">
				         <span>Engine Body.sldprtEngine Body.sldprtEngine Body.sldprtEngine Body.sldprt</span>
			         </td>
			         <td class="col02">stp</td>
			         <td class="col03">12.3 M</td>
			         <td class="col04">8</td>
			         <td class="col05">AutoCAD</td>
		         </tr>
		         <tr>
			         <td class="col01 detail_file">
				         <img src="images/detailfile_pic.png">
				         <span>Engine Body.sldprt</span>
			         </td>
			         <td class="col02">stp</td>
			         <td class="col03">12.3 M</td>
			         <td class="col04">8</td>
			         <td class="col05">AutoCAD</td>
		         </tr>
		         <tr>
			         <td class="col01 detail_file">
				         <img src="images/detailfile_pic.png">
				         <span>Engine Body.sldprt</span>
			         </td>
			         <td class="col02">stp</td>
			         <td class="col03">12.3 M</td>
			         <td class="col04">8</td>
			         <td class="col05">AutoCAD</td>
		         </tr>
		         <tr>
			         <td class="col01 detail_file">
				         <img src="images/detailfile_pic.png">
				         <span>Engine Body.sldprt</span>
			         </td>
			         <td class="col02">stp</td>
			         <td class="col03">12.3 M</td>
			         <td class="col04">8</td>
			         <td class="col05">AutoCAD</td>
		         </tr>
		       </tbody>
	       </table>
	       <h5 class="detail_label">发表评论</h5>
	       <!--<div class="commend_per">
		       <a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
		       <a href="#" class="commend_per_name">钓鱼的小李子~</a>
		       <span class="commend_per_time">21小时前</span>
	       </div>
	       <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
	       <div class="commit_submit">
		       <a href="#">提交</a>
	       </div>-->
	       <div class="needlg-area">
		       <p><a href="#">登录</a>参与评论</p>
	       </div>
	       <div class="nolg_commit_submit">
		       <a href="#">提交</a>
	       </div>
	       <h5 class="detail_label pt20 borbtm">评论列表（<em>20</em>）</h5>
	       <ul class="commend_lb">
		       <li class="commend_item">
			       <div class="commend_per">
				       <a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
				       <a href="#" class="commend_per_name">钓鱼的小李子~<span class="renzheng">认证</span></a>
				       <span class="commend_per_time">21小时前</span>
			       </div>
			       <p class="commend_wz">刨除掉独特的文化背景和宗教习俗，印度和中国这两个近邻有着极其相似的发展脉络。尤其是在制造业和新兴科技领域，今天印度就像是几年前的中国。</p>
			       <div class="commeded_lb">
				       <span class="point"></span>
				       <div class="commeded_con">
					       <div class="commeded_label">
						       <h5>点评</h5>
						       <span>展开</span>
					       </div>
					       <div class="commeded_pers">
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
					       </div>
					       <dl class="commeded_item">
	                   <dt>
		                   <a href="#"><img src="images/perpic.jpg"></a>
	                   </dt>
	                   <dd>
		                   <div class="commeded_info">
			                   <a href="#" class="maincommend_per">会有队长01：</a>
			                   <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
		                     <span class="maincommend_time">45分钟前</span>
		                   </div>
		                   <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
		                   <div class="commend_replay_area">
				                 <textarea placeholder="" class="common_txt edite_commit"></textarea>
				                 <div class="commit_submit">
					                   <a href="#">提交</a>
				                 </div>
		                   </div>
	                   </dd>
					       </dl>
					       <dl class="commeded_item">
						       <dt>
							       <a href="#"><img src="images/perpic.jpg"></a>
						       </dt>
						       <dd>
							       <div class="commeded_info">
								       <a href="#" class="maincommend_per">会有胡长02：</a>
								       <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								       <span class="maincommend_time">45分钟前</span>
							       </div>
							       <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							       <div class="commend_replay_area">
								       <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								       <div class="commit_submit">
									       <a href="#">提交</a>
								       </div>
							       </div>
						       </dd>
					       </dl>
				       </div>
			       </div>
			       <div class="commend_ope">
				       <a href="javascript:;" class="commend_link">我要点评</a>
				       <a href="javascript:;" class="zan_link">999</a>
			       </div>
			       <div class="commit_area">
				       <textarea placeholder="" class="common_txt edite_commit"></textarea>
				       <div class="commit_submit">
					       <a href="#">提交</a>
				       </div>
			       </div>
		       </li>
		       <li class="commend_item">
			       <div class="commend_per">
				       <a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
				       <a href="#" class="commend_per_name">钓鱼的小李子~<span class="renzheng">认证</span></a>
				       <span class="commend_per_time">21小时前</span>
			       </div>
			       <p class="commend_wz">刨除掉独特的文化背景和宗教习俗，印度和中国这两个近邻有着极其相似的发展脉络。尤其是在制造业和新兴科技领域，今天印度就像是几年前的中国。</p>
			       <div class="commeded_lb">
				       <span class="point"></span>
				       <div class="commeded_con">
					       <div class="commeded_label">
						       <h5>点评</h5>
						       <span>展开</span>
					       </div>
					       <div class="commeded_pers">
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
						       <div class="commeded_pers_item">
							       <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						       </div>
					       </div>
					       <dl class="commeded_item">
						       <dt>
							       <a href="#"><img src="images/perpic.jpg"></a>
						       </dt>
						       <dd>
							       <div class="commeded_info">
								       <a href="#" class="maincommend_per">会有胡子队长：</a>
								       <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								       <span class="maincommend_time">45分钟前</span>
							       </div>
							       <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							       <div class="commend_replay_area">
								       <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								       <div class="commit_submit">
									       <a href="#">提交</a>
								       </div>
							       </div>
						       </dd>
					       </dl>
					       <dl class="commeded_item">
						       <dt>
							       <a href="#"><img src="images/perpic.jpg"></a>
						       </dt>
						       <dd>
							       <div class="commeded_info">
								       <a href="#" class="maincommend_per">会有胡子队长：</a>
								       <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								       <span class="maincommend_time">45分钟前</span>
							       </div>
							       <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							       <div class="commend_replay_area">
								       <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								       <div class="commit_submit">
									       <a href="#">提交</a>
								       </div>
							       </div>
						       </dd>
					       </dl>
					       <div class="btm_shouqi">收起</div>
				       </div>
			       </div>
			       <div class="commend_ope">
				       <a href="javascript:;" class="commend_link">我要点评</a>
				       <a href="javascript:;" class="zan_link">999</a>
			       </div>
			       <div class="commit_area">
				       <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
				       <div class="commit_submit">
					       <a href="#">提交</a>
				       </div>
			       </div>
		       </li>
	       </ul>
	       <a href="javascript:;" class="loadmore_commend_btn">加载更多</a>
       </div>
       <div class="mxdetail_aside">
          <dl class="side_person">
	          <dt>
		          <a href="#">
			          <img src="images/perpic.jpg" alt="" title="">
		          </a>
	          </dt>
	          <dd>
		          <a href="#" class="pername_link" >
			          <h5>用户张三<span class="renzheng">认证</span></h5>
		          </a>
		          <a href="javascript:;" class="mxdt_concern">关注</a>
		          <!--<a href="javascript:;" class="mxdt_concerned">已关注</a>
		          <a href="javascript:;" class="mxdt_concernno">取消关注</a>-->
	          </dd>
          </dl>
	       <div class="aside_price_down">
		       <h5 class="detail_label pt20">模型价格</h5>
		       <p class="aside_price">售价：<em>50 积分</em></p>
		      <!-- <p class="aside_price">您已成功支付<em>（剩余下载时间：1天）</em></p>-->
		       <a href="#" class="aside_down_btn">支付下载</a>
		      <!-- <a href="#" class="aside_down_btn">打包下载</a>-->
	       </div>
	       <div class="aside_ope_state">
            <div class="aside_ope">
	            <a href="javascript:;" id="zanlink">点赞</a>
	            <a href="javascript:;" class="collect_btn">收藏</a>
	            <div href="javascript:;" class="share_link">分享
		            <div class="share_box">
			              <span class="point">
			              </span>
				            <div class="bdsharebuttonbox">
					            <p class="share_label">分享到</p>
					            <!--<a href="#" class="bds_more" data-cmd="more"></a>-->
					            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>

					            <script>window._bd_share_config={
						            "common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},
						            "share":{"viewText":"分享到：","viewSize":"16"},
						            "selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
					            </script>
				            </div>
		            </div>
	            </div>
            </div>
		        <div class="aside_state">
			        <span class="see">2.5K</span>
			        <span class="zan">105</span>
			        <span class="down">205</span>
			        <span class="collect">2</span>
		        </div>
	       </div>
	       <div class="aside_mxconn">
		       <h5 class="detail_label pt20">模型相关</h5>
		       <p class="mxconn_item">上传时间：<em>2017-06-07&nbsp; &nbsp; 12:30:56</em></p>
		       <p class="mxconn_item">软件版本：<em>AutoCAD，Solidworks</em></p>
		       <p class="mxconn_item">文件格式：<em>dwg，stl，stp</em></p>
		       <p class="mxconn_item">文件大小：<em>35.2 M</em></p>
		       <p class="mxconn_item">模型类别：<em>航天航空，工业设计</em></p>
		       <p class="mxconn_item">模型标签：<em>螺旋飞机</em></p>
		       <div class="mxconn_otherformate">
			       <p>寻找不同的格式？</p>
			       <a href="#">请求免费格式转换</a>
		       </div>
	       </div>
	       <div class="aside_copy">
		       <h5 class="detail_label pt20">版权说明</h5>
		       <p class="aside_copy_item">模型版权：<span>非商业使用</span></p>
	       </div>
	       <div class="design_othermx">
		       <div class="detail_label02">
			       <h5>设计师其他模型</h5>
			       <a href="#" class="more">查看更多></a>
		       </div>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
	       </div>
	       <div class="connectmx">
		       <div class="detail_label02">
			       <h5>相关模型</h5>
			       <a href="#" class="more">查看更多></a>
		       </div>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <div class="othermx_state">
					       <span class="see">999</span>
					       <span class="zan">999</span>
				       </div>
			       </dd>
		       </dl>
	       </div>
	       <div class="connectmx">
		       <div class="detail_label02">
			       <h5>所在专辑</h5>
			       <a href="#" class="more">查看更多></a>
		       </div>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <p class="at_album_mxs">
					       共20个模型
				       </p>
			       </dd>
		       </dl>
		       <dl class="design_othermx_item">
			       <dt class="othermx_pic">
				       <a href="#">
					       <img src="images/index_album.jpg" alt="" title="">
				       </a>
			       </dt>
			       <dd>
				       <a href="#" class="othermx_name">
					       <h5>航天飞机模型</h5>
				       </a>
				       <p class="at_album_mxs">
					       共20个模型
				       </p>
			       </dd>
		       </dl>
         </div>
      </div>
	  </div>
  </section>
  <% include common/mainfooter.html %>
  <div class="common_mask">
	  <div class="album_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">收藏到专辑</h3>
		  <div class="albumlayer_sear">
				  <input type="text" placeholder="搜索专辑名" class="albumlayer_sear_txt">
				  <a href="#" class="albumlayer_sear_glass"></a>
			</div>
		  <div class="album_scrollcon">
					<h5 class="commonlayer_label">最近使用过的专辑</h5>
					<ul class="albumlayer_lb">
						  <li class="albumlayer_item">
							  <dl class="albumlayer_mx">
								  <dt>
									  <a href="#">
										  <img src="images/index_album.jpg" alt="" title="">
									  </a>
								  </dt>
								  <dd>
									  <a href="#">
										  <h6>航天飞机模型</h6>
									  </a>
									  <p>共20个模型</p>
								  </dd>
							  </dl>
							  <a href="#" class="albumlayer_ope">收藏</a>
						  </li>
						<li class="albumlayer_item">
							<dl class="albumlayer_mx">
								<dt>
									<a href="#">
										<img src="images/index_album.jpg" alt="" title="">
									</a>
								</dt>
								<dd>
									<a href="#">
										<h6>航天飞机模型</h6>
									</a>
									<p>共20个模型</p>
								</dd>
							</dl>
							<a href="#" class="albumlayer_ope02">已收藏</a>
						</li>
					</ul>
				  <div class="addalbum_wrap">
					  <a href="javascript:;" class="addalbum_icon"></a>
					  <a href="javascript:;" class="addalbum_wz">创建新专辑</a>
				  </div>
				  <h5 class="commonlayer_label">所有模型专辑</h5>
				  <ul class="albumlayer_lb">
					  <li class="albumlayer_item">
						  <dl class="albumlayer_mx">
							  <dt>
								  <a href="#">
									  <img src="images/index_album.jpg" alt="" title="">
								  </a>
							  </dt>
							  <dd>
								  <a href="#">
									  <h6>航天飞机模型</h6>
								  </a>
								  <p>共20个模型</p>
							  </dd>
						  </dl>
						  <a href="#" class="albumlayer_ope">收藏</a>
					  </li>
					  <li class="albumlayer_item">
						  <dl class="albumlayer_mx">
							  <dt>
								  <a href="#">
									  <img src="images/index_album.jpg" alt="" title="">
								  </a>
							  </dt>
							  <dd>
								  <a href="#">
									  <h6>航天飞机模型</h6>
								  </a>
								  <p>共20个模型</p>
							  </dd>
						  </dl>
						  <a href="#" class="albumlayer_ope">收藏</a>
					  </li>
					 </ul>
		  </div>
	  </div>
  </div>
  <div class="common_mask">
	  <div class="album_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">收藏到专辑</h3>
		  <div class="albumlayer_sear">
			  <input type="text" placeholder="搜索专辑名" class="albumlayer_sear_txt">
			  <a href="#" class="albumlayer_sear_glass"></a>
		  </div>
		  <h5 class="commonlayer_label">搜索结果</h5>
		  <ul class="albumlayer_lb">
			  <li class="albumlayer_item">
				  <dl class="albumlayer_mx">
					  <dt>
						  <a href="#">
							  <img src="images/index_album.jpg" alt="" title="">
						  </a>
					  </dt>
					  <dd>
						  <a href="#">
							  <h6>航天飞机模型</h6>
						  </a>
						  <p>共20个模型</p>
					  </dd>
				  </dl>
				  <a href="#" class="albumlayer_ope02">已收藏</a>
			  </li>
			  <li class="albumlayer_item">
				  <dl class="albumlayer_mx">
					  <dt>
						  <a href="#">
							  <img src="images/index_album.jpg" alt="" title="">
						  </a>
					  </dt>
					  <dd>
						  <a href="#">
							  <h6>航天飞机模型</h6>
						  </a>
						  <p>共20个模型</p>
					  </dd>
				  </dl>
				  <a href="#" class="albumlayer_ope">收藏</a>
			  </li>
		  </ul>
	  </div>
  </div>
  <div class="common_mask">
	  <div class="album_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">收藏到专辑</h3>
		  <div class="albumlayer_sear">
			  <input type="text" placeholder="搜索专辑名" class="albumlayer_sear_txt">
			  <a href="#" class="albumlayer_sear_glass"></a>
		  </div>
		  <h5 class="commonlayer_label">搜索结果</h5>
		  <div class="albumlayerno">
			  <p>没有找到相关的收藏夹</p>
			  <a href="#">创建一个航天飞机专辑</a>
		  </div>
	  </div>
  </div>
  <div class="common_mask" style='display: block;'>
	  <div class="album_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">收藏到专辑</h3>
		  <ul class="albumlayer_edite">
			  <li>
				  <span class="edite_label">专辑名</span>
				  <input type="text" placeholder="请输入专辑名" class="common_txt edite_name_txt">
			  </li>
			  <li>
				  <span class="edite_label">专辑介绍</span>
				  <div class="edite_intro_wrap">
            <textarea placeholder="为你的专辑写点什么吧" class="common_txt edite_intro_area"></textarea>
					  <p>你还能输入<em>120</em>字</p>
				  </div>
			  </li>
		  </ul>
		  <div class="albumlayer_confirm">
			  <a href="#">确认</a>
		  </div>
	  </div>
  </div>
  <div class="common_mask">
	  <div class="pay_layer">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">模型购买</h3>
		  <div class="paylayer_con">
			  <div class="pay_top">
				  <dl class="paymx_info">
					  <dt>
						  <a href="#">
							  <img src="images/paymx_moren.jpg" alt="" title="">
						  </a>
					  </dt>
					  <dd>
              <a href="#" class="paymx_name">
	                <h6>大话西游3D打印模型</h6>
              </a>
						  <p class="paymx_size">stl（30.98M）</p>
					  </dd>
				  </dl>
				  <div class="paymx_price">售价：<em>10</em>积分</div>
			  </div>
			  <p class="paymx_notice">您的账户剩余<em>20积分</em>，可以下载此模型</p>
			  <!--<p class="paymx_notice">您的账户剩余<em>5积分</em>，不足以下载此模型，请 <a href="#">立即充值</a></p>-->
			  <div class="paymx_confirm">
				  <a href="#" class="pay_btn">确认支付</a>
				  <!--<a href="#" class="payno_btn">无法支付</a>-->
			  </div>
		  </div>
	  </div>
  </div>
  <div class="common_mask">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">模型购买</h3>
		  <div class="paylayer_con">
			  <div class="pay_top">
				  <dl class="paymx_info">
					  <dt>
						  <a href="#">
							  <img src="images/paymx_moren.jpg" alt="" title="">
						  </a>
					  </dt>
					  <dd>
						  <a href="#" class="paymx_name">
							  <h6>大话西游3D打印模型</h6>
						  </a>
						  <p class="paymx_size">stl（30.98M）</p>
					  </dd>
				  </dl>
				  <div class="paymx_price">售价：<em>10</em>积分</div>
			  </div>
			  <div class="paytab">
				  <a href="javascript:;" class="active">在线支付</a>
				  <a href="javascript:;">余额支付</a>
			  </div>
			  <div class="paymode" style="display: block">
				  <ul class="paymode_lb">
					  <li class="active">
						  <i></i>
						  <span>
							  <img src="images/pay01.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay02.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay03.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay04.jpg" alt="" title="">
						  </span>
					  </li>
				  </ul>
			  </div>
			  <div class="paymode">
            <div class="pay_extra">
	           您的账户可用余额：<em>￥100.00</em>
	            <input type="text" placeholder="请输入支付密码" class="common_txt extrapay_txt">
	            <a href="#" class="setpaypwd_link">请设置支付密码</a>
            </div>
				    <!--<p class="pay_extrano">您的账户可用余额（<em>5元</em>）不足，请选择在线支付</p>-->
			  </div>
			  <div class="paymx_confirm">
				  <a href="#"class="pay_btn">确认支付</a>
				 <!-- <a href="#" class="payno_btn">无法支付</a>-->
			  </div>
			</div>
	  </div>
  </div>
 <script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/mxdetail"></script>
</body>
</html>