<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/mx-list.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="mxlist_wrap">
      <ul class="bread">
	      <li><a href="/" class="home_icon"></a></li>
	      <li class="last_nav">模型分类</li>	 
      </ul>
      <ul class="topmenu_list">
	      <li class="topmenu_list_item">
		      <span class="topmenu_list_label">模型分类：</span>
		      <div class="topmenu_list_con">
			      <a href="javascript:;">全部</a>
			      <a href="#" class="active">卡通人物</a>
			      <a href="#">写实人物</a>
			      <a href="#">场景模型</a>
			      <a href="#">动物资源</a>
			      <a href="#">植物资源</a>
			      <a href="#">机械模型</a>
			      <a href="#">雕塑资源</a>
			      <a href="#">军事兵器</a>
			      <a href="#">交通运输</a>
			      <a href="#">日用品模</a>
			      <a href="#">音乐体育</a>
			      <a href="#">电子电器</a>
			      <a href="#">家装设计</a>
			      <a href="#">其他</a>
		      </div>
	      </li>
	      <li class="topmenu_list_item">
		      <span class="topmenu_list_label">软件版本：</span>
		      <div class="topmenu_list_con">
			      <a href="javascript:;" class="active">全部</a>
			      <a href="#">AutoCAD</a>
			      <a href="#">ProE/Creo</a>
			      <a href="#">Solidworks</a>
			      <a href="#">UG</a>
			      <a href="#">CATIA</a>
			      <a href="#">Sketchup</a>
			      <a href="#">CAXA</a>
			      <a href="#">Inventor</a>
			      <a href="#">Solidedge</a>
		      </div>
	      </li>
	      <li class="topmenu_list_item">
		      <span class="topmenu_list_label">模型格式：</span>
		      <div class="topmenu_list_con">
			      <a href="javascript:;" class="active">全部</a>
			      <a href="#">3dxml</a>
			      <a href="#">CATPart</a>
			      <a href="#">crg</a>
			      <a href="#">dwg</a>
			      <a href="#">dxf</a>
			      <a href="#">easm</a>
			      <a href="#">exb</a>
			      <a href="#">par</a>
			      <a href="#">prt</a>
			      <a href="#">skp</a>
			      <a href="#">sldasm</a>
			      <a href="#">sldprt</a>
			      <a href="#">stp</a>
			      <a href="#">stl</a>
			      <a href="#">step</a>
		      </div>
	      </li>
	      <li class="topmenu_list_item">
		      <span class="topmenu_list_label">类别筛选：</span>
		      <div class="topmenu_list_con">
			      <a href="javascript:;" class="active">全部</a>
			      <a href="#">积分模型</a>
			      <a href="#">收费模型</a>
		      </div>
	      </li>
      </ul>
	    <div class="mx_filter">
		    <a href="javascript:;">全部主题</a>
		    <a href="#" class="active">热门推荐</a>
		    <a href="#">最新上传</a>
		    <a href="#">最多浏览</a>
		    <a href="#">最多下载</a>
		    <a href="#">最多收藏</a>
	    </div>
	    <ul class="index_mx">
		    <li>
			    <div class="index_mx_item_bg01">
				    <div class="index_mx_item_bg03">
					    <div class="index_mx_item_pic">
						    <a href="/model/detail">
							    <span class="jinpin"></span>
							    <img src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="index_album_item_intro">
							    <div class="mx_name">
								    <a href="/model/detail"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="money">￥2999.00</span>
							    </div>
						    <div class="mx_user">
							    <div class="user_name">
								    <a href="#">
									    <img src="images/index_album.jpg" alt="" title="">
									    <span>用户昵称</span>
								    </a>
							    </div>
							    <div class="user_state">
								    <span class="see">299</span>
								    <span class="zan">192</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_mx_item_bg01">
				    <div class="index_mx_item_bg03">
					    <div class="index_mx_item_pic">
						    <a href="#">
							    <span class="jinpin"></span>
							    <img src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="index_album_item_intro">
						      <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="money">￥2999.00</span>
							    </div>
						    <div class="mx_user">
							    <div class="user_name">
								    <a href="#">
									    <img src="../images/index_album.jpg" alt="" title="">
									    <span>用户昵称</span>
								    </a>
							    </div>
							    <div class="user_state">
								    <span class="see">299</span>
								    <span class="zan">192</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_mx_item_bg01">
				    <div class="index_mx_item_bg03">
					    <div class="index_mx_item_pic">
						    <a href="#">
							    <span class="jinpin"></span>
							    <img src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="index_album_item_intro">
						    <a href="#">
							    <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="money">￥2999.00</span>
							    </div>
						    </a>
						    <div class="mx_user">
							    <div class="user_name">
								    <a href="#">
									    <img src="../images/index_album.jpg" alt="" title="">
									    <span>用户昵称</span>
								    </a>
							    </div>
							    <div class="user_state">
								    <span class="see">299</span>
								    <span class="zan">192</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_mx_item_bg01">
				    <div class="index_mx_item_bg03">
					    <div class="index_mx_item_pic">
						    <a href="#">
							    <span class="jinpin"></span>
							    <img src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="index_album_item_intro">
						    <a href="#">
							    <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="icon">200</span>
							    </div>
						    </a>
						    <div class="mx_user">
							    <div class="user_name">
								    <a href="#">
									    <img src="../images/index_album.jpg" alt="" title="">
									    <span>用户昵称</span>
								    </a>
							    </div>
							    <div class="user_state">
								    <span class="see">299</span>
								    <span class="zan">192</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    <li>
			    <div class="index_mx_item_bg01">
				    <div class="index_mx_item_bg03">
					    <div class="index_mx_item_pic">
						    <a href="#">
							    <span class="jinpin"></span>
							    <img src="../images/index_album.jpg" alt="" title="">
						    </a>
					    </div>
					    <div class="index_album_item_intro">
						    <a href="#">
							    <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="icon">200</span>
							    </div>
						    </a>
						    <div class="mx_user">
							    <div class="user_name">
								    <a href="#">
									    <img src="../images/index_album.jpg" alt="" title="">
									    <span>用户昵称</span>
								    </a>
							    </div>
							    <div class="user_state">
								    <span class="see">299</span>
								    <span class="zan">192</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </li>
		    </ul>
	    <div class="pagination">
		    <a href="#">上一页</a>
		    <a href="#" class="active">1</a>
		    <a href="#">2</a>
		    <a href="#">3</a>
		    <a href="#">4</a>
		    <a href="#">5</a>
		    <span>...</span>
		    <a href="#">下一页</a>
		    <a href="#">尾页</a>
		    <span>共 20 页，到第</span>
		    <input type="text" class="common_txt jumppage_txt">
		    <span>页</span>
		    <a href="#">确定</a>
	    </div>
    </div>
  </section>
  <footer>
	  <div class="foot_wrap">
		    <div class="foot_content">
			    <div class="friend_links">
				       <span class="friend_links_label">友情链接 Links</span>
				       <div class="friend_links_con">
					       <a href="#">3D打印</a>
					       <a href="#">弘瑞3D打印 </a>
					       <a href="#">熊玩意</a>
					       <a href="#">3D打印商城</a>
					       <a href="#">3D打印联盟</a>
					       <a href="#">1001号</a>
					       <a href="#">OFweek3D打印网</a>
					       <a href="#">3DOne 创客教育</a>
					       <a href="#">摩登犀牛网</a>
					       <a href="#">D打印在线</a>
				       </div>
			    </div>
			    <div class="foot_about">
				    <div class="foot_about_link">
					    <a href="#">关于我们</a>
					    <a href="#">加入我们</a>
					    <a href="#">媒体报道</a>
					    <a href="#">服务协议</a>
					    <a href="#">隐私条款</a>
					    <a href="#">官方微信</a>
				    </div>
				    <p class="foot_about_copy">备案号：鄂ICP备14010995号   © 2017 CADKU.com   科乐得(武汉)技术股份有限公司</p>
			    </div>
		    </div>
	  </div>
  </footer>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/mx-list"></script>
</body>
</html>