<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/news.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="news_wrap">
	    <ul class="bread">
		    <li><a href="#" class="home_icon"></a></li>
		    <li><a href="#">模型库</a></li>
		    <li class="last_nav">模型分类</li>
	    </ul>
      <div class="news_main">
	      <h2 class="newdetial_tit" id="newdetial_tit">发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线
		      网吗?|潮科技</h2>
        <div class="newdetial_subtit">
	        <span><a href="#">发布者昵称</a></span>
	        <span>2017-04-11  10:23 </span>
	        <span>CAD资讯</span>
        </div>
        <div class="newdetial_con">
	        <div>
		        <p>马斯克的太空帝国SpaceX最近刚因 “龙”飞船的重复使用刷了不少人的屏。</p>
		        <p><img data-original="images/newdetail_ad.jpg" class="lazydown" src="images/newdetail_ad.jpg" alt="" title=""></p>
		        <p>事实上，SpaceX并不仅仅着眼于火箭飞船，或是国际空间站的几次任务；这家公司自2002年建立之初，目的就是“让人类能在其他星球上生活”。</p>
		        <p>除了火箭和飞船，SpaceX计划中另有11,943颗卫星等待着被发射——SpaceX官方称，希望利用这些卫星改善我们的网络速度。他们的计划真的这么简单吗？</p>
		        <p>11,943这个数字并不是凭空而来，而是来自于SpaceX在2016年11月和2017年3月向美国联邦通信委员会（FCC）提出的申请。</p>
		        <p><img data-original="images/newdetail_ad.jpg" class="lazydown" src="images/newdetail_ad.jpg" alt="" title=""></p>
		        <p>在申请中，SpaceX称这些卫星组成的网络将“为美国，甚至是全球的消费者和商业提供高带宽（可达每人1Gbps）的宽带服务”。SpaceX的计划中，甚至包括了向当今世界上57%没有网络的人口提供相关服务。</p>
	          <p>不过，对于一个商业组织来说，发送这么多卫星只是为大家提供Wifi，看起来并不是一个好主意。</p>
	          <p>不过SpaceX所计划的卫星数量级和其他公司有明显不同。SpaceX想用这一万多颗卫星做干什么呢？</p>
	          <p>有一种猜测是，SpaceX希望拿这些卫星“拍照片”。</p>
	          <p>此前曾有不少公司希望进入卫星网络这一行业。铱星（Iridium），Teledesic等90年代的建立的卫星宽带大公司都曾经历过效益不佳而带来的低谷时期，甚至不少公司因此破产或消失。</p>
	        </div>
	        <a href="#" class="detail_zan">点赞</a>
        </div>
	      <div class="newdetail_label">
		      <a href="#">标签名称</a>
		      <a href="#">行业资讯</a>
		      <a href="#">行业资讯</a>
	      </div>
        <div class="newdetail_states">
	        <div class="newdetail_states_lf">
		        <span class="see">999</span>
		        <span class="zan">999</span>
		        <span class="commend">999</span>
	        </div>
	        <div class="newdetail_states_rh">
		        <span class="share_label">分享到</span>
		        <div class="bdsharebuttonbox">
			        <!--<a href="#" class="bds_more" data-cmd="more"></a>-->
			        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
			        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			        <script>
				        window._bd_share_config={
					        "common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},
					        "share":{},
					        "selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};
				        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
			        </script>
	          </div>
		        <div class="totop_wrap"><a href="#newdetial_tit" class="totop_btn"></a></div>
        </div>
      </div>
	      <h5 class="detail_label">发表评论</h5>
	      <div class="commend_per">
					<a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
					<a href="#" class="commend_per_name">钓鱼的小李子~</a>
					<span class="commend_per_time">21小时前</span>
				</div>
				<textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
				<div class="commit_submit">
					<a href="#">提交</a>
				</div>
	      <!--<div class="needlg-area">
		      <p><a href="#">登录</a>参与评论</p>
	      </div>
	      <div class="nolg_commit_submit">
		      <a href="#">提交</a>
	      </div>-->
	      <h5 class="detail_label pt20 borbtm">评论列表（<em>20</em>）</h5>
	      <ul class="commend_lb">
		      <li class="commend_item">
			      <div class="commend_per">
				      <a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
				      <a href="#" class="commend_per_name">钓鱼的小李子~<span class="renzheng">认证</span></a>
				      <span class="commend_per_time">21小时前</span>
			      </div>
			      <p class="commend_wz">刨除掉独特的文化背景和宗教习俗，印度和中国这两个近邻有着极其相似的发展脉络。尤其是在制造业和新兴科技领域，今天印度就像是几年前的中国。</p>
			      <div class="commeded_lb">
				      <span class="point"></span>
				      <div class="commeded_con">
					      <div class="commeded_label">
						      <h5>点评</h5>
						      <span>展开</span>
					      </div>
					      <div class="commeded_pers">
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
					      </div>
					      <dl class="commeded_item">
						      <dt>
							      <a href="#"><img src="images/perpic.jpg"></a>
						      </dt>
						      <dd>
							      <div class="commeded_info">
								      <a href="#" class="maincommend_per">会有队长01：</a>
								      <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								      <span class="maincommend_time">45分钟前</span>
							      </div>
							      <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							      <div class="commend_replay_area">
								      <textarea placeholder="" class="common_txt edite_commit"></textarea>
								      <div class="commit_submit">
									      <a href="#">提交</a>
								      </div>
							      </div>
						      </dd>
					      </dl>
					      <dl class="commeded_item">
						      <dt>
							      <a href="#"><img src="images/perpic.jpg"></a>
						      </dt>
						      <dd>
							      <div class="commeded_info">
								      <a href="#" class="maincommend_per">会有胡长02：</a>
								      <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								      <span class="maincommend_time">45分钟前</span>
							      </div>
							      <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							      <div class="commend_replay_area">
								      <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								      <div class="commit_submit">
									      <a href="#">提交</a>
								      </div>
							      </div>
						      </dd>
					      </dl>
				      </div>
			      </div>
			      <div class="commend_ope">
				      <a href="javascript:;" class="commend_link">我要点评</a>
				      <a href="javascript:;" class="zan_link">999</a>
			      </div>
			      <div class="commit_area">
				      <textarea placeholder="" class="common_txt edite_commit"></textarea>
				      <div class="commit_submit">
					      <a href="#">提交</a>
				      </div>
			      </div>
		      </li>
		      <li class="commend_item">
			      <div class="commend_per">
				      <a href="#" class="commend_per_pic"><img src="images/perpic.jpg" alt="" title=""></a>
				      <a href="#" class="commend_per_name">钓鱼的小李子~<span class="renzheng">认证</span></a>
				      <span class="commend_per_time">21小时前</span>
			      </div>
			      <p class="commend_wz">刨除掉独特的文化背景和宗教习俗，印度和中国这两个近邻有着极其相似的发展脉络。尤其是在制造业和新兴科技领域，今天印度就像是几年前的中国。</p>
			      <div class="commeded_lb">
				      <span class="point"></span>
				      <div class="commeded_con">
					      <div class="commeded_label">
						      <h5>点评</h5>
						      <span>展开</span>
					      </div>
					      <div class="commeded_pers">
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
						      <div class="commeded_pers_item">
							      <a href="#"><img src="images/perpic.jpg" alt="" title=""></a>
						      </div>
					      </div>
					      <dl class="commeded_item">
						      <dt>
							      <a href="#"><img src="images/perpic.jpg"></a>
						      </dt>
						      <dd>
							      <div class="commeded_info">
								      <a href="#" class="maincommend_per">会有胡子队长：</a>
								      <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								      <span class="maincommend_time">45分钟前</span>
							      </div>
							      <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							      <div class="commend_replay_area">
								      <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								      <div class="commit_submit">
									      <a href="#">提交</a>
								      </div>
							      </div>
						      </dd>
					      </dl>
					      <dl class="commeded_item">
						      <dt>
							      <a href="#"><img src="images/perpic.jpg"></a>
						      </dt>
						      <dd>
							      <div class="commeded_info">
								      <a href="#" class="maincommend_per">会有胡子队长：</a>
								      <p class="maincommend_info">回复<a href="#">@蜘蛛侠小飞虫</a>：充电宝租赁费用比单车收入更高，收入在每天4元以上。如果数据真实，也就是说单个人每天使用时长是5小时（1小时以上收费）。 小编的数学是体育老师交的。</p>
								      <span class="maincommend_time">45分钟前</span>
							      </div>
							      <div class="commend_replay_btn"><a href="javascript:;">回复</a></div>
							      <div class="commend_replay_area">
								      <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
								      <div class="commit_submit">
									      <a href="#">提交</a>
								      </div>
							      </div>
						      </dd>
					      </dl>
					      <div class="btm_shouqi">收起</div>
				      </div>
			      </div>
			      <div class="commend_ope">
				      <a href="javascript:;" class="commend_link">我要点评</a>
				      <a href="javascript:;" class="zan_link">999</a>
			      </div>
			      <div class="commit_area">
				      <textarea placeholder="来写点什么吧..." class="common_txt edite_commit"></textarea>
				      <div class="commit_submit">
					      <a href="#">提交</a>
				      </div>
			      </div>
		      </li>
	      </ul>
	      <a href="javascript:;" class="loadmore_commend_btn">加载更多</a>
	   </div>
	    <div class="news_aside pt0">
		    <h3 class="news_aside_label">资讯频道</h3>
		    <div class="news_aside_con">
			    <a href="#" class="channel_item">行业资讯</a>
			    <a href="#" class="channel_item">国内资讯</a>
			    <a href="#" class="channel_item">AtuoCAD教程</a>
			    <a href="#" class="channel_item">UG教程</a>
			    <a href="#" class="channel_item">ProE教程</a>
			    <a href="#" class="channel_item">Solidworks教程</a>
		    </div>
		    <h3 class="news_aside_label">感兴趣的文章</h3>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="images/index_album.jpg" class="lazydown" src="images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
					    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="images/index_album.jpg" class="lazydown" src="images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
						    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="images/index_album.jpg" class="lazydown" src="images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
						    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
	    </div>
    </div>
  </section>
 <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/news"></script>
</body>
</html>