<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/news.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="news_wrap">
      <div class="news_main">
	      <div class="newsmain_top">
		      <div class="newsmain_top_lf">
			      <a href="#">
				      <img data-original="../images/news_ad01.jpg" class="lazydown" src="../images/news_ad01.jpg" alt="" title="">
				      <p>财富500强大佬们最担忧AI和网络安全，还说要争抢技术...</p>
			      </a>
		      </div>
		      <div class="newsmain_top_rh">
			      <div class="newsmain_top_rh_item mb12">
				      <a href="#">
					      <img data-original="../images/news_ad02.jpg" class="lazydown" src="../images/news_ad02.jpg" alt="" title="">
					      <p>逆流而上&nbsp;|&nbsp;中国百货生存困境破局</p>
				      </a>
			      </div>
			      <div class="newsmain_top_rh_item">
				      <a href="#">
					      <img data-original="../images/news_ad02.jpg" class="lazydown" src="../images/news_ad02.jpg" alt="" title="">
					      <p>逆流而上&nbsp;|&nbsp;中国百货生存困境破局</p>
				      </a>
			      </div>
		      </div>
	      </div>
	      <dl class="news_item">
		      <dt>
			      <a href="#">
				      <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
			      </a>
		      </dt>
		      <dd>
			      <a href="#"><h5>发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线
				      网吗?|潮科技</h5></a>
			      <p class="news_intro ellipsis01">4月10日中午，在北京的一栋别墅里，刚从美国飞回来的原源正和陈欧进行着长达数小时的激烈讨论，今年3月，在国外出差的陈欧手机没电时碰巧遇到了街电，此时的聚美急需依靠新业务去找突到</p>
			      <div class="news_ope">
				      <div class="news_ope_lf">
					      <span><a href="#" class="ellipsis02">发布者昵称者</a></span>
					      <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
					      <span>CAD资讯</span>
				      </div>
				      <div class="news_ope_rh">
					      <span class="see">999</span>
					      <span class="zan">999</span>
				      </div>
			      </div>
		      </dd>
	      </dl>
	      <dl class="news_item">
		      <dt>
			      <a href="#">
				      <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
			      </a>
		      </dt>
		      <dd>
			      <a href="#"><h5>发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线
				      网吗?|潮科技</h5></a>
			      <p class="news_intro ellipsis01">4月10日中午，在北京的一栋别墅里，刚从美国飞回来的原源正和陈欧进行着长达数小时的激烈讨论，今年3月，在国外出差的陈欧手机没电时碰巧遇到了街电，此时的聚美急需依靠新业务去找突到</p>
			      <div class="news_ope">
				      <div class="news_ope_lf">
					      <span><a href="#" class="ellipsis02">发布者昵称者</a></span>
					      <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
					      <span>CAD资讯</span>
				      </div>
				      <div class="news_ope_rh">
					      <span class="see">999</span>
					      <span class="zan">999</span>
				      </div>
			      </div>
		      </dd>
	      </dl>
	      <dl class="news_item news_item02">
		     <!--  <dt>
		     			      <a href="#">
		     				      <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
		     			      </a>
		     </dt> -->
		      <dd>
			      <a href="#"><h5>发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线
				      网吗?|潮科技</h5></a>
			      <p class="news_intro ellipsis01">4月10日中午，在北京的一栋别墅里，刚从美国飞回来的原源正和陈欧进行着长达数小时的激烈讨论，今年3月，在国外出差的陈欧手机没电时碰巧遇到了街电，此时的聚美急需依靠新业务去找突到</p>
			      <div class="news_ope">
				      <div class="news_ope_lf">
					      <span><a href="#" class="ellipsis02">发布者昵称者</a></span>
					      <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
					      <span>CAD资讯</span>
				      </div>
				      <div class="news_ope_rh">
					      <span class="see">999</span>
					      <span class="zan">999</span>
				      </div>
			      </div>
		      </dd>
	      </dl>
	      <a href="#" class="seemore_btm">查看更多</a>
      </div>
	    <div class="news_aside">
		    <h3 class="news_aside_label">资讯频道</h3>
		    <div class="news_aside_con">
			    <a href="#" class="channel_item">行业资讯</a>
			    <a href="#" class="channel_item">国内资讯</a>
			    <a href="#" class="channel_item">AtuoCAD教程</a>
			    <a href="#" class="channel_item">UG教程</a>
			    <a href="#" class="channel_item">ProE教程</a>
			    <a href="#" class="channel_item">Solidworks教程</a>
		    </div>
		    <h3 class="news_aside_label">热门标签</h3>
		    <div class="news_aside_con">
			    <a href="#" class="hotlabel_item">行业资讯</a>
			    <a href="#" class="hotlabel_item">行业资讯</a>
			    <a href="#" class="hotlabel_item">行业资讯</a>
			    <a href="#" class="hotlabel_item">行业资讯</a>
			    <a href="#" class="hotlabel_item">行业资讯</a>
		    </div>
		    <h3 class="news_aside_label">热门文章</h3>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
					    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
						    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
		    <dl class="hot_article_item">
			    <dt>
				    <a href="#">
					    <img data-original="../images/index_album.jpg" class="lazydown" src="../images/index_album.jpg" alt="" title="">
				    </a>
			    </dt>
			    <dd>
				    <a href="#">
					    <p class="title ellipsis03">iOS大改版之后，App StoriOS大改版之后，App Stor
						    e的玩法</p>
				    </a>
				    <p class="time">2017-04-11  10:23</p>
			    </dd>
		    </dl>
	    </div>
    </div>
  </section>
  <footer>
	  <div class="foot_wrap">
		    <div class="foot_content">
			    <div class="friend_links">
				       <span class="friend_links_label">友情链接 Links</span>
				       <div class="friend_links_con">
					       <a href="#">3D打印</a>
					       <a href="#">弘瑞3D打印 </a>
					       <a href="#">熊玩意</a>
					       <a href="#">3D打印商城</a>
					       <a href="#">3D打印联盟</a>
					       <a href="#">1001号</a>
					       <a href="#">OFweek3D打印网</a>
					       <a href="#">3DOne 创客教育</a>
					       <a href="#">摩登犀牛网</a>
					       <a href="#">D打印在线</a>
				       </div>
			    </div>
			    <div class="foot_about">
				    <div class="foot_about_link">
					    <a href="#">关于我们</a>
					    <a href="#">加入我们</a>
					    <a href="#">媒体报道</a>
					    <a href="#">服务协议</a>
					    <a href="#">隐私条款</a>
					    <a href="#">官方微信</a>
				    </div>
				    <p class="foot_about_copy">备案号：鄂ICP备14010995号   © 2017 CADKU.com   科乐得(武汉)技术股份有限公司</p>
			    </div>
		    </div>
	  </div>
  </footer>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/news"></script>
</body>
</html>