<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/lg_reg.css" rel="stylesheet">
</head>
<body class="body_bg02">
  <% include common/mainheader.html %>
  <section>
    <div class="otherlgreg_wrap">
        <p class="otherlgreg_info">欢迎你！<em>奋斗的可乐</em>，完善以下信息，以后你也可以使用该邮箱和密码来登录CADKU。</p>
	      <div class="otherlg_con">
          <div class="otherlg_lf">
	          <span>微博账号</span>
	          <img src="images/perpic.jpg" alt="" title="">
	          <p>奋斗的可乐</p>
          </div>
		      <div class="otherlg_rh">
            <p class="otherlg_label">没有账号，<a href="#">立即注册</a></p>
			      <div class="edite_item">
				      <span class="edite_label user"></span>
				      <input type="text" class="edite_txt" placeholder="用户名/邮箱">
			      </div>
			      <div class="edite_item">
				      <span class="edite_label pwd"></span>
				      <input type="text" class="edite_txt" placeholder="密码">
			      </div>
			      <div class="lg_notice">
				      <label class="set_auto">
					      <input type="checkbox" class="selpwd_state">下次自动登录
				      </label>
				      <a href="#" class="forpwd_link">忘记密码</a>
			      </div>
			      <a href="#" class="lgreg_btn">登陆并绑定</a>
		      </div>
	      </div>
    </div>
  </section>
 <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/lg_reg"></script>
</body>
</html>