<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/page.css" rel="stylesheet">
</head>
<body class="body_bg01">
 <% include common/mainheader.html %>
  <section>
	  <div class="page_top">
		   <div class="page_top_con">
			   <dl class="page_top_intros">
				   <dt>
					   <img src="images/perpic.jpg" alt="" title="">
				   </dt>
				   <dd>
					   <h5>用户张三<span class="renzheng">认证</span></h5>
					   <p>所在城市&nbsp;&nbsp;<em>武汉</em>
						   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   上传模型&nbsp;&nbsp;<em>180个</em>
					   </p>
					   <p>擅长技能&nbsp;&nbsp;<em>3ds Max，3D-Coat，Auto CAD，Photoshop</em></p>
				   </dd>
			   </dl>
			   <div class="page_top_concerns">
				   <p>关注&nbsp;&nbsp;&nbsp;<em>180</em></p>
				   <!--<a href="#" class="page_concern_btn">关注 +</a>-->
				   <a href="#" class="page_concerned_btn">已关注</a>
			   </div>
		   </div>
	  </div>
	  <div class="clearfix"></div>
    <div class="page_con">
	    <div class="personpage_tab">
		    <a href="javascript:;" class="active">上传的模型（80）</a>
		    <a href="javascript:;">创建的专辑（35）</a>
		    <a href="javascript:;">点赞的模型（25）</a>
		    <a href="javascript:;">发布的文章（52）</a>
	    </div>
	    <div class="personpage_panel" style="display: block">
		    <ul class="index_mx">
			    <li>
				    <div class="index_mx_item_bg01">
					    <div class="index_mx_item_bg03">
						    <div class="index_mx_item_pic">
							    <a href="#">
								    <span class="jinpin"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="money">￥2999.00</span>
							    </div>
							    <div class="mx_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <div class="user_state">
									    <span class="see">299</span>
									    <span class="zan">192</span>
								    </div>
							    </div>
						    </div>
					    </div>
				    </div>
			    </li>
			    <li>
				    <div class="index_mx_item_bg01">
					    <div class="index_mx_item_bg03">
						    <div class="index_mx_item_pic">
							    <a href="#">
								    <span class="jinpin"></span>
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </div>
						    <div class="index_album_item_intro">
							    <div class="mx_name">
								    <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
								    <span class="money">￥2999.00</span>
							    </div>
							    <div class="mx_user">
								    <div class="user_name">
									    <a href="#">
										    <img src="images/index_album.jpg" alt="" title="">
										    <span>用户昵称</span>
									    </a>
								    </div>
								    <div class="user_state">
									    <span class="see">299</span>
									    <span class="zan">192</span>
								    </div>
							    </div>
						    </div>
					    </div>
				    </div>
			    </li>
		    </ul>
	    </div>
      <div class="personpage_panel">
	      <ul class="index_album mb40">
		      <li>
			      <div class="index_album_item_bg01">
				      <div class="index_album_item_bg02">
					      <div class="index_album_item_bg03">
						      <div class="index_album_item_pic">
							      <a href="#">
								      <span class="hot"></span>
								      <img src="images/index_album.jpg" alt="" title="">
							      </a>
						      </div>
						      <div class="index_album_item_intro">
							      <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							      <div class="album_user">
								      <div class="user_name">
									      <a href="#">
										      <img src="images/index_album.jpg" alt="" title="">
										      <span>用户昵称</span>
									      </a>
								      </div>
								      <p>共120个模型</p>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
		      <li>
			      <div class="index_album_item_bg01">
				      <div class="index_album_item_bg02">
					      <div class="index_album_item_bg03">
						      <div class="index_album_item_pic">
							      <a href="#">
								      <span class="hot"></span>
								      <img src="images/index_album.jpg" alt="" title="">
							      </a>
						      </div>
						      <div class="index_album_item_intro">
							      <a href="#"><p class="album_name">现代-北欧风转角360沙发书架莲蓬3d...</p></a>
							      <div class="album_user">
								      <div class="user_name">
									      <a href="#">
										      <img src="images/index_album.jpg" alt="" title="">
										      <span>用户昵称</span>
									      </a>
								      </div>
								      <p>共120个模型</p>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
	      </ul>
      </div>
      <div class="personpage_panel">
	      <ul class="index_mx">
		      <li>
			      <div class="index_mx_item_bg01">
				      <div class="index_mx_item_bg03">
					      <div class="index_mx_item_pic">
						      <a href="#">
							      <span class="jinpin"></span>
							      <img src="images/index_album.jpg" alt="" title="">
						      </a>
					      </div>
					      <div class="index_album_item_intro">
						      <div class="mx_name">
							      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
							      <span class="money">￥2999.00</span>
						      </div>
						      <div class="mx_user">
							      <div class="user_name">
								      <a href="#">
									      <img src="images/index_album.jpg" alt="" title="">
									      <span>用户昵称</span>
								      </a>
							      </div>
							      <div class="user_state">
								      <span class="see">299</span>
								      <span class="zan">192</span>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
		      <li>
			      <div class="index_mx_item_bg01">
				      <div class="index_mx_item_bg03">
					      <div class="index_mx_item_pic">
						      <a href="#">
							      <span class="jinpin"></span>
							      <img src="images/index_album.jpg" alt="" title="">
						      </a>
					      </div>
					      <div class="index_album_item_intro">
						      <div class="mx_name">
							      <a href="#"><span class="name">6050 型全自动影像测量仪...</span></a>
							      <span class="money">￥2999.00</span>
						      </div>
						      <div class="mx_user">
							      <div class="user_name">
								      <a href="#">
									      <img src="images/index_album.jpg" alt="" title="">
									      <span>用户昵称</span>
								      </a>
							      </div>
							      <div class="user_state">
								      <span class="see">299</span>
								      <span class="zan">192</span>
							      </div>
						      </div>
					      </div>
				      </div>
			      </div>
		      </li>
		    </ul>
      </div>
	    <div class="personpage_panel">
		    <div class="article_lists">
			    <dl class="article_item">
				    <dt>
					    <a href="#">
						    <img class="lazydown" data-original="images/index_album.jpg" src="images/index_album.jpg" alt="" title="">
					    </a>
				    </dt>
				    <dd>
					    <a href="#">
						    <h5 class="ellipsis01">
							    发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线网吗?只是为我们提供无线网吗?
						    </h5>
					    </a>
					    <p class="article_intro ellipsis02">这是一篇关于Autocad三维基础实例：太极球的教程，太极球的绘制主要是通过引导线放样绘制的，主要太极球的绘制主要是通过引导线放样绘制的，主要</p>
					    <div class="article_state">
						    <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
						    <span>CAD教程</span>
					    </div>
				    </dd>
			    </dl>
			    <dl class="article_item">
				    <dt>
					    <a href="#">
						    <img class="lazydown" data-original="images/index_album.jpg" src="images/index_album.jpg" alt="" title="">
					    </a>
				    </dt>
				    <dd>
					    <a href="#">
						    <h5 class="ellipsis01">
							    发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线网吗?只是为我们提供无线网吗?
						    </h5>
					    </a>
					    <p class="article_intro ellipsis02">这是一篇关于Autocad三维基础实例：太极球的教程，太极球的绘制主要是通过引导线放样绘制的，主要太极球的绘制主要是通过引导线放样绘制的，主要</p>
					    <div class="article_state">
						    <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
						    <span>CAD教程</span>
					    </div>
				    </dd>
			    </dl>
			    <dl class="article_item">
				    <dt>
					    <a href="#">
						    <img class="lazydown" data-original="images/index_album.jpg" src="images/index_album.jpg" alt="" title="">
					    </a>
				    </dt>
				    <dd>
					    <a href="#">
						    <h5 class="ellipsis01">
							    发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线网吗?只是为我们提供无线网吗?
						    </h5>
					    </a>
					    <p class="article_intro ellipsis02">这是一篇关于Autocad三维基础实例：太极球的教程，太极球的绘制主要是通过引导线放样绘制的，主要太极球的绘制主要是通过引导线放样绘制的，主要</p>
					    <div class="article_state">
						    <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
						    <span>CAD教程</span>
					    </div>
				    </dd>
			    </dl>
			    <dl class="article_item">
				    <dt>
					    <a href="#">
						    <img class="lazydown" data-original="images/index_album.jpg" src="images/index_album.jpg" alt="" title="">
					    </a>
				    </dt>
				    <dd>
					    <a href="#">
						    <h5 class="ellipsis01">
							    发射11943颗卫星——SpaceX巨大的野心,只是为我们提供无线网吗?只是为我们提供无线网吗?
						    </h5>
					    </a>
					    <p class="article_intro ellipsis02">这是一篇关于Autocad三维基础实例：太极球的教程，太极球的绘制主要是通过引导线放样绘制的，主要太极球的绘制主要是通过引导线放样绘制的，主要</p>
					    <div class="article_state">
						    <span>2017-04-11&nbsp;&nbsp;&nbsp;10:23</span>
						    <span>CAD教程</span>
					    </div>
				    </dd>
			    </dl>
		    </div>
	    </div>
	    <div class="pagination">
		    <a href="#">上一页</a>
		    <a href="#" class="active">1</a>
		    <a href="#">2</a>
		    <a href="#">3</a>
		    <a href="#">4</a>
		    <a href="#">5</a>
		    <span>...</span>
		    <a href="#">下一页</a>
		    <a href="#">尾页</a>
		    <span>共 20 页，到第</span>
		    <input type="text" class="common_txt jumppage_txt">
		    <span>页</span>
		    <a href="#">确定</a>
	    </div>
    </div>
  </section>
  <% include common/mainfooter.html %>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/page"></script>
</body>
</html>