<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/tasklist.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="task_wrap">
	    <ul class="bread">
		    <li><a href="#" class="home_icon"></a></li>
		    <li class="last_nav">设计任务</li>
	    </ul>
	    <div class="task_con">
		    <div class="task_lf">
			    <ul class="topmenu_list topmenu_list02">
				    <li class="topmenu_list_item">
					    <span class="topmenu_list_label">设计类型：</span>
					    <div class="topmenu_list_con topmenu_list_con02">
						    <a href="javascript:;">全部</a>
						    <a href="#" class="active">教育学习</a>
						    <a href="#">艺术结构</a>
						    <a href="#">建筑结构</a>
						    <a href="#">交通运输</a>
						    <a href="#">数码电子</a>
						    <a href="#">家居用品</a>
						    <a href="#">雕塑资源</a>
						    <a href="#">军事兵器</a>
						    <a href="#">交通运输</a>
						    <a href="#">日用品模</a>
						    <a href="#">音乐体育</a>
						    <a href="#">电子电器</a>
						    <a href="#">家装设计</a>
						    <a href="#">工业设计</a>
					    </div>
				    </li>
				    <li class="topmenu_list_item">
					    <span class="topmenu_list_label">任务预算：</span>
					    <div class="topmenu_list_con topmenu_list_con02">
						    <a href="javascript:;" class="active">全部</a>
						    <a href="#">0-200元</a>
						    <a href="#">200-500元</a>
						    <a href="#">500-800元</a>
						    <a href="#">800-1000元</a>
						    <a href="#">1000元以上</a>
					    </div>
				    </li>
				    <li class="topmenu_list_item">
					    <span class="topmenu_list_label">任务状态：</span>
					    <div class="topmenu_list_con topmenu_list_con02">
						    <a href="javascript:;" class="active">全部</a>
						    <a href="#">竞标中</a>
						    <a href="#">已选标</a>
						    <a href="#">已完成</a>
					    </div>
				    </li>
				  </ul>
			    <table cellspacing="0" cellpadding="0" class="tasktb">
				    <colgroup>
					    <col class="col01">
					    <col class="col02">
					    <col class="col03">
					    <col class="col04">
				    </colgroup>
				    <thead>
					    <tr>
						    <th>任务标题</th>
						    <th>任务预算</th>
						    <th>竞标截止时间</th>
						    <th>状态</th>
					    </tr>
				    </thead>
				    <tbody>
				      <tr>
					      <td class="task_name">
						      <a href="/task/detail"><h3>发动机起动系统三维建模仿真</h3></a>
						      <p>有起动机三维模型的了解发动机工作原理的优先</p>
					      </td>
					      <td class="task_price">
						      <p>￥200~500</p>
					      </td>
					      <td class="task_time">
						      <p>2017-06-02</p>
						      <p>已有竞标：<em>25</em>人</p>
					      </td>
					      <td class="task_state02">竞标中</td>
				      </tr>
				      <tr>
					      <td class="task_name">
						      <a href="#"><h3>发动机起动系统三维建模仿真</h3></a>
						      <p>有起动机三维模型的了解发动机工作原理的优先</p>
					      </td>
					      <td class="task_price">
						      <p>￥200~500</p>
					      </td>
					      <td class="task_time">
						      <p>2017-06-02</p>
						      <p>已有竞标：<em>25</em>人</p>
					      </td>
					      <td class="task_state01">已完成</td>
				      </tr>
				      <tr>
					      <td class="task_name">
						      <a href="#"><h3>发动机起动系统三维建模仿真</h3></a>
						      <p>有起动机三维模型的了解发动机工作原理的优先</p>
					      </td>
					      <td class="task_price">
						      <p>￥200~500</p>
					      </td>
					      <td class="task_time">
						      <p>2017-06-02</p>
						      <p>已有竞标：<em>25</em>人</p>
					      </td>
					      <td class="task_state01">已选标</td>
				      </tr>
				      <tr>
					      <td class="task_name">
						      <a href="#"><h3>发动机起动系统三维建模仿真</h3></a>
						      <p>有起动机三维模型的了解发动机工作原理的优先</p>
					      </td>
					      <td class="task_price">
						      <p>￥200~500</p>
					      </td>
					      <td class="task_time">
						      <p>2017-06-02</p>
						      <p>已有竞标：<em>25</em>人</p>
					      </td>
					      <td class="task_state02">竞标中</td>
				      </tr>
				    </tbody>
			    </table>
			    <div class="pagination">
				    <a href="#">上一页</a>
				    <a href="#" class="active">1</a>
				    <a href="#">2</a>
				    <a href="#">3</a>
				    <a href="#">4</a>
				    <a href="#">5</a>
				    <span>...</span>
				    <a href="#">下一页</a>
				    <a href="#">尾页</a>
				    <span>共 20 页，到第</span>
				    <input type="text" class="common_txt jumppage_txt">
				    <span>页</span>
				    <a href="#">确定</a>
			    </div>
		    </div>
		    <div class="tasklist_rh">
			    <div class="tasklist_fixed">
				    <h3 class="tasklist_apply_label">申请定制设计</h3>
				    <p class="tasklist_apply_intro">快速发布需求 找到专属设计</p>
				    <input type="text" class="common_txt request_txt" placeholder="您的需求">
				    <input type="text" class="common_txt request_txt" placeholder="您的手机号">
				    <textarea class="common_txt request_area" placeholder="您的需求简述"></textarea>
				    <a href="#" class="request_submit">立即提交</a>
				    <p class="tasklist_apply_notice">* CADKU将严格保护您的隐私，请放心填写</p>
			    </div>
		    </div>
	    </div>
    </div>
  </section>
  <footer>
	  <div class="foot_wrap">
		    <div class="foot_content">
			    <div class="friend_links">
				       <span class="friend_links_label">友情链接 Links</span>
				       <div class="friend_links_con">
					       <a href="#">3D打印</a>
					       <a href="#">弘瑞3D打印 </a>
					       <a href="#">熊玩意</a>
					       <a href="#">3D打印商城</a>
					       <a href="#">3D打印联盟</a>
					       <a href="#">1001号</a>
					       <a href="#">OFweek3D打印网</a>
					       <a href="#">3DOne 创客教育</a>
					       <a href="#">摩登犀牛网</a>
					       <a href="#">D打印在线</a>
				       </div>
			    </div>
			    <div class="foot_about">
				    <div class="foot_about_link">
					    <a href="#">关于我们</a>
					    <a href="#">加入我们</a>
					    <a href="#">媒体报道</a>
					    <a href="#">服务协议</a>
					    <a href="#">隐私条款</a>
					    <a href="#">官方微信</a>
				    </div>
				    <p class="foot_about_copy">备案号：鄂ICP备14010995号   © 2017 CADKU.com   科乐得(武汉)技术股份有限公司</p>
			    </div>
		    </div>
	  </div>
  </footer>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/tasklist"></script>
</body>
</html>