<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edg,chrome=1">
	<title>cadku-lgreg</title>
	<link type="text/css" href="/styles/tasklist.css" rel="stylesheet">
</head>
<body class="body_bg01">
  <% include common/mainheader.html %>
  <section>
    <div class="task_wrap">
	    <ul class="bread">
		    <li><a href="#" class="home_icon"></a></li>
		    <li class="last_nav">设计任务</li>
	    </ul>
	    <div class="task_con">
		    <div class="task_lf">
				  <h2 class="taskdetail_tit">一种切割面积3米长1.5米宽双驱齿轮齿条传动的三轴激光切割机</h2>
				  <div class="taskdetail_state">
					    <span><a href="#">发布者昵称</a></span>
					    <span>2017-04-11  10:23</span>
					    <span>120 人浏览</span>
				  </div>
			    <h3 class="taskdetail_label">需求详情</h3>
			    <ul class="taskdetail_demand">
				    <li>竞标截止时间<span>2017-06-18（2天后截止）</span></li>
				    <li>设计类型<span>家居用品</span></li>
				    <li>任务预算<span><em>￥200-500</em></span></li>
			    </ul>
			    <h3 class="taskdetail_label">需求描述</h3>
			    <p class="taskdemand_intro">任务时间30天；设计软件SW,一种切割面积3米长1.5米宽双驱齿轮齿条伺服传动的三轴激光切割机，委托内容：结构设计、部件选型及参考
				    供货商家、运行速度60米/min；飞行龙门结构，（龙门负载根据设计自行计算自重乘1.2系数），要求具备相关产品设计经验和已经实现验
				    证的成熟成套图纸。地区不限。不需要外观，光纤激光切割机功能可以参照百度相关专业网站。</p>
			    <h3 class="taskdetail_label">任务附件</h3>
			    <p class="taskfile_item"><a href="#">长寿蛙.jpg</a></p>
			    <p class="taskfile_item"><a href="#">青蛙素材包.zip</a></p>
			    <div class="taskfile_all"><a href="#">打包下载</a></div>
			    <h3 class="taskdetail_label">竞标者（<em>15</em>）</h3>
			    <ul class="bidders">
				    <li>
					    <dl class="bidder_intro">
						    <dt>
							    <a href="#">
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </dt>
						    <dd>
							    <a href="#"><h3>用户张三<span class="renzheng">认证</span></h3></a>
							    <p>所在城市<em>武汉</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传模型<em>180</em>个</p>
							    <p>擅长技能<em>3ds Max，3D-Coat，Auto CAD，Photoshop</em></p>
						    </dd>
					    </dl>
					    <a href="#" class="bidder_concern">+&nbsp;关注</a>
				    </li>
				    <li>
					    <dl class="bidder_intro">
						    <dt>
							    <a href="#">
								    <img src="images/index_album.jpg" alt="" title="">
							    </a>
						    </dt>
						    <dd>
							    <a href="#"><h3>用户张三<span class="renzheng">认证</span></h3></a>
							    <p>所在城市<em>武汉</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传模型<em>180</em>个</p>
							    <p>擅长技能<em>3ds Max，3D-Coat，Auto CAD，Photoshop</em></p>
						    </dd>
					    </dl>
					    <a href="#" class="bidder_concern">+&nbsp;关注</a>
				    </li>
			    </ul>
			    <div class="pagination">
				    <a href="#">上一页</a>
				    <a href="#" class="active">1</a>
				    <a href="#">2</a>
				    <a href="#">3</a>
				    <a href="#">4</a>
				    <a href="#">5</a>
				    <span>...</span>
				    <a href="#">下一页</a>
				    <a href="#">尾页</a>
				    <span>共 20 页，到第</span>
				    <input type="text" class="common_txt jumppage_txt">
				    <span>页</span>
				    <a href="#">确定</a>
			    </div>
		    </div>
		    <div class="tasklist_rh" style="display: block">
			    <div class="tasklist_fixed">
				    <h3 class="taskdetail_rh_label">竞标中</h3>
				    <span class="taskdetail_bid_icon"></span>
            <a href="#" class="bidbtn">我要竞标</a>
				    <p class="bidbtn_notice">竞标后可查看发布者联系方式</p>
				    <div class="taskdetail_rh_seprate"></div>
				    <h3 class="taskdetail_rh_label02">我也有类似需求</h3>
				    <a href="/task/sendtask" class="detail_sendtask_btn">发布任务</a>
			    </div>
		    </div>
		    <div class="tasklist_rh" style="display: none">
			    <div class="tasklist_fixed">
				    <h3 class="taskdetail_rh_label">竞标中</h3>
				    <span class="taskdetail_bid_icon"></span>
				    <h5 class="taskdetail_rh_label03">联系方式</h5>
				    <ul class="taskdetail_rh_conn">
					    <li class="icon01">13689965366</li>
					    <li class="icon02">13689965366</li>
					    <li class="icon03">13689965366@qq.com</li>
				    </ul>
				    <div class="taskdetail_rh_seprate"></div>
				    <h3 class="taskdetail_rh_label02">我也有类似需求</h3>
				    <a href="#" class="detail_sendtask_btn">发布任务</a>
			    </div>
		    </div>
		    <div class="tasklist_rh" style="display: none">
			    <div class="tasklist_fixed">
				    <h3 class="taskdetail_rh_label">已完成</h3>
				    <span class="taskdetail_bid_icon"></span>
				    <a href="#" class="bidbtn_not_allowed">我要竞标</a>
				    <p class="bidbtn_notice02">任务已完成，您无法查看发布者的联系
					    方式。</p>
				    <div class="taskdetail_rh_seprate"></div>
				    <h3 class="taskdetail_rh_label02">我也有类似需求</h3>
				    <a href="#" class="detail_sendtask_btn">发布任务</a>
			    </div>
		    </div>
		    <div class="tasklist_rh" style="display: none">
			    <div class="tasklist_fixed">
				    <h3 class="taskdetail_rh_label">已选标</h3>
				    <span class="taskdetail_bid_icon"></span>
				    <a href="#" class="bidbtn_not_allowed">我要竞标</a>
				    <p class="bidbtn_notice02">发布者已选择了接标方，您无法查看他
					    的联系方式。</p>
				    <div class="taskdetail_rh_seprate"></div>
				    <h3 class="taskdetail_rh_label02">我也有类似需求</h3>
				    <a href="/task/sendtask" class="detail_sendtask_btn">发布任务</a>
			    </div>
		    </div>
	    </div>
    </div>
  </section>
  <% include common/mainfooter.html %>


  <div class="common_mask">
	  <div class="pay_layer" id="bid_box">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">模型购买</h3>
		  <div class="paylayer_con">
			  <div class="bid_top">
				  <p class="bid_top_intro">您需要支付1元竞标费，支付完成后可查看发布者
					  的联系方式。</p>
				  <p class="bid_top_price">金额：<em>￥1</em></p>
			  </div>
			  <div class="paytab">
				  <a href="javascript:;" class="active">在线支付</a>
				  <a href="javascript:;">余额支付</a>
			  </div>
			  <div class="paymode" style="display: block">
				  <ul class="paymode_lb">
					  <li class="active">
						  <i></i>
						  <span>
							  <img src="images/pay01.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay02.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay03.jpg" alt="" title="">
						  </span>
					  </li>
					  <li>
						  <i></i>
						  <span>
							  <img src="images/pay04.jpg" alt="" title="">
						  </span>
					  </li>
				  </ul>
			  </div>
			  <div class="paymode">
				  <div class="pay_extra">
					  您的账户可用余额：<em>￥100.00</em>
					  <input type="text" placeholder="请输入支付密码" class="common_txt extrapay_txt">
					  <a href="#" class="setpaypwd_link">请设置支付密码</a>
				  </div>
				  <!--<p class="pay_extrano">您的账户可用余额（<em>5元</em>）不足，请选择在线支付</p>-->
			  </div>
			  <div class="paymx_confirm">
				  <a href="#"class="pay_btn">确认支付</a>
				   <!--<a href="#" class="payno_btn">无法支付</a>-->
			  </div>
		  </div>
	  </div>
  </div>

  <div class="common_mask">
	  <div class="pay_layer" id="bid_notice01">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">提示</h3>
		  <div class="bid_notice_con">
			  <p class="bid_notice_intro">您不是CADKU的实名认证设计师，不能参与竞标！</p>
			  <div class="bid_notice_ope">
				  <a href="#" class="concel_btn">取消</a>
				  <a href="#" class="confirm_btn">实名认证</a>
			  </div>
		  </div>
		</div>
	</div>

  <div class="common_mask">
	  <div class="pay_layer" id="bid_notice02">
		  <a href="javascript:;" class="close_icon"></a>
		  <h3 class="commonlayer_tit">提示</h3>
		  <div class="bid_notice_con">
			  <p class="bid_notice_intro">您确认已经找到合适的设计师，并结束招标吗？</p>
			  <div class="bid_notice_ope">
				  <a href="#" class="concel_btn">取消</a>
				  <a href="#" class="confirm_btn">确认</a>
			  </div>
		  </div>
	  </div>
  </div>

<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/tasklist"></script>
</body>
</html>