 <header>
	  <div class="headertopbar">
		  <div class="headertopbar_content">
	        <div class="topbar_lf">
		        <span class="top_weixin">
			          官方微信
			          <div class="top_weixin_down">
				          <span class="point"></span>
				          <div class="top_weixin_pic">
					          <a href="/"><img src="../images/topwei_ma.jpg" alt="" title=""></a>
				          </div>
			          </div>
		        </span>
	        </div>
			    <div class="topbar_rh">
				   <a href="/login" class="toplg_link">登陆</a>
				   <a href="/login" class="topregiter_link">注册</a>
				   <!--  <div class="top_username_wrap">
				   					    <span class="top_username_link">用户张三</span>
				   					    <ul class="top_username_menu">
				   						    <li><a href="javascript:;" class="active">个人主页</a></li>
				   						    <li><a href="javascript:;">个人中心</a></li>
				   						    <li><a href="javascript:;">账号设置</a></li>
				   						    <li><a href="javascript:;">退出</a></li>
				   					    </ul>
				   </div> -->
				    <div class="topbar_message"><a href="/user/message">消息（<em>2</em>）</a></div>
				    <span class="top_lab">实名认证，享更高权益</span>
			    </div>
		  </div>
	  </div>
	  <div class="topmain_wrap">
		  <div class="top_logo_sear">
			  <div class="top_logo">
				  <a href="/"><img src="../images/toplogo.png" alt="" title=""></a>
			  </div>
			  <div class="top_sear">
				  <div class="top_sear_box">
					  <div class="topsear_dropdown">
						  <span class="topsear_dropdown_link">模型</span>
						  <ul class="topsear_dropdown_menu">
							  <li><a href="javascript:;" class="active">专辑</a></li>
							  <li><a href="javascript:;">设计师</a></li>
							  <li><a href="javascript:;">资讯教程</a></li>
						  </ul>
					  </div>
					  <input type="text" class="topsear_txt" placeholder="搜索您想要找的模型">
					  <a href="#" class="topsear_btn">搜索</a>
				  </div>
				  <span class="top_or">或</span>
				  <a href="#" class="top_uploadbtn">上传模型</a>
				  <span class="top_arrive">每日签到</span>
			  </div>
		  </div>
		  <ul class="mainnav">
			  <li><a href="/" class="mainitem">首页</a></li>
			  <li><a href="/model/list" class="mainitem">模型库</a></li>
			  <li><a href="/designer/list" class="mainitem">设计师</a></li>
			  <li><a href="/task/list" class="mainitem">设计任务</a></li>
			  <li><a href="/news" class="mainitem">资讯教程</a></li>
		  </ul>
	  </div>
  </header>