<footer>
	  <div class="foot_wrap">
		    <div class="foot_content">
			    <div class="friend_links">
				       <span class="friend_links_label">友情链接 Links</span>
				       <div class="friend_links_con">
					       <a href="#">3D打印</a>
					       <a href="#">弘瑞3D打印 </a>
					       <a href="#">熊玩意</a>
					       <a href="#">3D打印商城</a>
					       <a href="#">3D打印联盟</a>
					       <a href="#">1001号</a>
					       <a href="#">OFweek3D打印网</a>
					       <a href="#">3DOne 创客教育</a>
					       <a href="#">摩登犀牛网</a>
					       <a href="#">D打印在线</a>
				       </div>
			    </div>
			    <div class="foot_about">
				    <div class="foot_about_link">
					    <a href="/about">关于我们</a>
					    <a href="#">加入我们</a>
					    <a href="#">媒体报道</a>
					    <a href="#">服务协议</a>
					    <a href="#">隐私条款</a>
					    <a href="#">官方微信</a>
				    </div>
				    <p class="foot_about_copy">备案号：鄂ICP备14010995号   © 2017 CADKU.com   科乐得(武汉)技术股份有限公司</p>
			    </div>
		    </div>
	  </div>
  </footer>