<header>
	  <div class="headertopbar">
		  <div class="headertopbar_content">
	        <div class="topbar_lf">
		        <span class="top_weixin">
			          官方微信
			          <div class="top_weixin_down">
				          <span class="point"></span>
				          <div class="top_weixin_pic">
					          <img src="../images/topwei_ma.jpg" alt="" title="">
				          </div>
			          </div>
		        </span>
	        </div>
			    <div class="topbar_rh">
				   <a href="/login" class="toplg_link">登陆</a>
				   <a href="/login" class="topregiter_link">注册</a>
				    <!-- <div class="top_username_wrap">
				    					    <span class="top_username_link">用户张三</span>
				    					    <ul class="top_username_menu">
				    						    <li><a href="javascript:;" class="active">个人主页</a></li>
				    						    <li><a href="javascript:;">个人中心</a></li>
				    						    <li><a href="javascript:;">账号设置</a></li>
				    						    <li><a href="javascript:;">退出</a></li>
				    					    </ul>
				    </div> -->
				    <div class="topbar_message"><a href="/user/message">消息（<em>2</em>）</a></div>
				    <span class="top_lab">实名认证，享更高权益</span>
			    </div>
		  </div>
	  </div>
	  <div class="center_top_logo">
		  <div class="con1180">
	      <a href="/"><img class="centerlogo_pic" src="../images/toplogo02.png" title="" alt=""></a>
			  <span class="centerlogo_wz">
				  会员中心
			  </span>
		  </div>
	  </div>
  </header>