<div class="center_aside">
	      <a href="/user" class="center_aside_top">会员中心</a>
	      <dl class="center_aside_menu">
		      <dt class="acount active">
			      <a href="#">账号 设置</a>
		      </dt>
		      <dd style="display: block">
			      <a href="/user/info">基本资料</a>
			      <a href="/user/certify">实名认证</a>
			      <a href="/user/bind" class="active">账号绑定</a>
			      <a href="/user/safe">账号安全</a>
		      </dd>
		      <dt class="like">
			      <a href="#">我的喜欢</a>
		      </dt>
		      <dd>
			      <a href="/user/likemodel">点赞的模型</a>
			      <a href="/user/likealbum">订阅的专辑</a>
			      <a href="/user/likedesigner">关注的设计师</a>
		      </dd>
		      <dt class="send">
			      <a href="#">我发布的</a>
		      </dt>
		      <dd>
			      <a href="/user/sendmodel">上传的模型</a>
			      <a href="/user/sendarticle">发布的文章</a>
			      <a href="/user/sendtasklist">发布的任务</a>
			      <a href="/user/sendalbum">创建的专辑</a>
		      </dd>
		      <dt class="manage">
			      <a href="#">交易管理</a>
		      </dt>
		      <dd>
			      <a href="/user/listbuy">购买的订单</a>
			      <a href="/user/listsell">出售的订单</a>
		      </dd>
		      <dt class="book">
			      <a href="#">资金账本</a>
		      </dt>
		      <dd>
			      <a href="/user/bookcharge">充值提现</a>
			      <a href="/user/bookdetail">账户明细</a>
		      </dd>
          <dt class="score">
	          <a href="#">我的积分</a>
          </dt>
		      <dd>
			      <a href="/user/scoredetail">积分明细</a>
			      <a href="/user/getscore">获取积分</a>
		      </dd>
		      <dt class="message">
			      <a href="#">消息通知</a>
		      </dt>
		      <dd>
			      <a href="/user/message">交易消息</a>
			      <a href="/user/message">系统通知</a>
		      </dd>
	      </dl>
      </div>